<div class="m-content-teaser"{{#if type}} data-filter="filter-{{ type }}"{{/if}}>
	<a class="m-content-teaser__wrapper m-content-teaser__link" href="{{link.path}}">
		{{#if imageData}}
			<div class="m-content-teaser__image">
				{{render '@image' imageData}}
			</div>
		{{/if}}
		<div class="m-content-teaser__content">
			{{render '@heading-4' heading}}
			{{render '@paragraph' teaser}}
			{{#if type}}
				<p class="m-content-teaser__content-type">{{type}}</p>
			{{/if}}
			{{#if link.text}}
			<p class="m-content-teaser__read-more">{{link.text}}</p>
			{{/if}}
		</div>
	</a>
</div>
