<nav class="o-header__navigation" id="primary-navigation" aria-label="Huvudnavigation" role="navigation">
	<ul class="m-primary-navigation u-list-unstyled">
		<li class="m-primary-navigation__item m-primary-navigation__item--has-child">
			<a class="m-primary-navigation__link" href="/components/preview/products">Produkter</a>
			<button class="a-menu-toggle-btn a-menu-toggle-btn--top-right js-toggle-menu">
				{{ render '@icon' toggleIconData }}
				<span class="u-visually-hidden">Visa meny</span>
			</button>

			<div class="m-primary-sub-navigation">
				<ul class="m-primary-sub-navigation__list u-list-unstyled">
					<li class="m-primary-sub-navigation__item m-primary-sub-navigation__item--has-child">
						<a class="m-primary-sub-navigation__link" href="/components/preview/product-category">Produktkategori</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="#">Menyval</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="#">Menyval</a>
					</li>
				</ul>
				{{ render "@sub-navigation-promo" }}
			</div>
		</li>
		<li class="m-primary-navigation__item">
			<a class="m-primary-navigation__link" href="/components/preview/form-page">Om oss</a>
		</li>
		<li class="m-primary-navigation__item m-primary-navigation__item--has-child">
			<a class="m-primary-navigation__link" href="/components/preview/page">Aloe Vera</a>
			<button class="a-menu-toggle-btn a-menu-toggle-btn--top-right js-toggle-menu">
				{{ render '@icon' toggleIconData }}
				<span class="u-visually-hidden">Visa meny</span>
			</button>
			<div class="m-primary-sub-navigation">
				<ul class="m-primary-sub-navigation__list u-list-unstyled">
					<li class="m-primary-sub-navigation__item m-primary-sub-navigation__item--has-child">
						<a class="m-primary-sub-navigation__link" href="#">Menyval med långt namn</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="#">Menyval</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="#">Menyval</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="m-primary-navigation__item">
			<a class="m-primary-navigation__link" href="/components/preview/become-reseller">Karriär</a>
		</li>
		<li class="m-primary-navigation__item">
			<a class="m-primary-navigation__link" href="/components/preview/find-reseller">Köp produkterna</a>
		</li>
		<li class="m-primary-navigation__item">
			<a class="m-primary-navigation__link m-primary-navigation__link--active" href="/components/preview/blog">Inspiration</a>
		</li>
		<li class="m-primary-navigation__item">
			<a class="m-primary-navigation__link" href="/components/preview/jobs.html">jobb</a>
		</li>
		<li class="m-primary-navigation__item m-primary-navigation__item--has-child m-primary-navigation__item--visible-md">
			<a class="m-primary-navigation__link" href="#">Ändra språk</a>
			<button class="a-menu-toggle-btn a-menu-toggle-btn--top-right js-toggle-menu">
				{{ render '@icon' toggleIconData }}
				<span class="u-visually-hidden">Visa meny</span>
			</button>
			<div class="m-primary-sub-navigation">
				<ul class="m-primary-sub-navigation__list u-list-unstyled">
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Danmark</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Suomi</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Norge</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Finland (svenska)</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Grønland &amp; Færøerne</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Svalbard og Jan Mayen</a>
					</li>
					<li class="m-primary-sub-navigation__item">
						<a class="m-primary-sub-navigation__link" href="">Åland</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
