<div class="o-intro {{#if alignment}}o-intro--{{alignment}}{{/if}}">
	<div class="o-intro__container">
		{{#if headline}}
			{{render '@heading-1' headline}}
		{{/if}}
		{{#if sub_headline}}
			{{render '@paragraph' sub_headline}}
		{{/if}}
		{{#if paragraph}}
			{{render '@paragraph' paragraph}}
		{{/if}}
		{{#if link}}
			<a href="{{link.path}}" class="o-intro__cta">{{link.text}} {{render '@icon' iconData}}</a>
		{{/if}}
	</div>
</div>
