<div class="o-cookie-bar" id="pc-cookie-notice">
	<div class="o-cookie-bar__message" id="pc-message">
		<span data-content="Vi tar hjälp av cookies för att tillhandahålla våra tjänster. Genom att använda våra tjänster godkänner du att vi använder cookies.">Vi tar hjälp av cookies för att tillhandahålla våra tjänster. Genom att använda våra tjänster godkänner du att vi använder cookies.</span>
	</div>
	<div class="o-cookie-bar__btn" id="pc-button">
		<button class="a-btn a-btn--narrow" data-content="Uppfattat">Uppfattat</button>
	</div>
</div>
