<div class="o-breadcrumb">
	<ul class="o-breadcrumb__list u-container u-container--wide u-list-unstyled">
		{{#each links}}
			<li class="o-breadcrumb__item">
				{{#if link}}
				<a class="o-breadcrumb__link" href="{{ link }}">{{ name }}</a>
				{{else}}
					<span>{{ name }}</span>
				{{/if}}
			</li>
		{{/each}}
	</ul>
</div>
