<div class="u-section-spacing" style="background-color: #f7f7f7; margin: 20px;">
	This element has the utility class <i>.u-section-spacing</i> and adds padding to the top and bottom the section.
</div>
<div class="u-section-spacing u-section-spacing--only-top" style="background-color: #f7f7f7; margin: 20px;">
	This element has the modifier <i>.u-section-spacing--only-top</i> and has no padding at the bottom of the section.
</div>
<div class="u-section-spacing u-section-spacing--only-bottom" style="background-color: #f7f7f7; margin: 20px;">
	This element has the modifier <i>.u-section-spacing--only-bottom</i> and has no padding at the top of the section.
</div>
<div class="u-section-spacing u-section-spacing--large" style="background-color: #f7f7f7; margin: 20px;">
	This element has the modifier <i>.u-section-spacing--large</i> that adds extra large spacing at the top and bottom of the section
</div>
<div class="u-section-spacing u-section-spacing--large-bottom" style="background-color: #f7f7f7; margin: 20px;">
	This element has the modifier <i>.u-section-spacing--large-bottom</i> that adds extra large spacing at the bottom of the section
</div>
