{{ render '@header' }}

<main class="main" role="main">
	<section class="u-section-spacing u-bg-lighter">
		<div class="u-container u-container--narrow">
			<form class="o-form js-simple-action" action="/" role="search">
				<div class="m-form-item m-form-item--relative">
					<label class="a-label u-visually-hidden" for="">Sök</label>
					<input class="a-file-input" id="search" type="search" placeholder="Sök..." name="type-search" value="Aloe">
					<button class="m-form-item__btn a-btn a-btn--narrow a-btn--flat-left">
						<svg role="img" class="a-icon a-icon--small">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-search"></use>
						</svg>
						<span class="u-visually-hidden">Sök</span>
					</button>
				</div>
			</form>
		</div>
	</section>

	<section class="u-section-spacing u-section-spacing--only-top">
		<div class="u-container">
			{{render '@header-section--search-result' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{ render '@search-result' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
