/* ==========================================================================
   Molecule - Article
   ========================================================================== */

.m-article {
	// Make sure we avoid floated images on narrow screens
	img[style*="float"] {
		@media screen and (max-width: $bp-sm) {
			display: block !important;
			float: none !important;
			width: auto !important;
			height: auto !important;
			margin: $spacing-medium auto !important;
		}
	}
}
