/* ==========================================================================
   Molecule - Highlight badge
   ========================================================================== */

.m-badge {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: $spacing-small;
	background: $color-yellow;
	border-radius: 50%;
	color: $color-black;

	@media screen and (min-width: $bp-sm) {
		width: 120px;
		height: 120px;
	}

	&__title {
		overflow: hidden;
		margin-bottom: 0;
		font-weight: 600;
		line-height: 1.15;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: uppercase;
		font-weight: 400;
		font-size: .875rem;

		@media screen and (min-width: $bp-sm) {
			font-size: .889rem;
		}
	}
}
