/* ==========================================================================
   Molecule - Block quote block
   ========================================================================== */

.m-blockquote {
	position: relative;
	padding: 120px $spacing-large $spacing-large;
	quotes: "\201C""\201D""\2018""\2019";

	&:not(:first-child) {
		margin-top: $spacing-large;
	}

	&:not(:last-child) {
		margin-bottom: $spacing-large;
	}

	&:before {
		content: "“";
		position: absolute;
		top: $spacing-large;
		left: 50%;
		border-radius: 50%;
		background: $color-teal;
		width: 60px;
		height: 60px;
		font-family: Georgia;
		font-size: 72px;
		text-align: center;
		color: $color-white;
		line-height: 95px;
		transform: translateX(-50%);
	}


	&__footer {
		margin-top: $spacing-small;
		@include font-size($font-size-small);
		text-align: center;

		&:before {
			content: "– ";
		}
	}
}
