/* ==========================================================================
   Molecule - Extended button with more advanced structure
   ========================================================================== */

.m-btn-ext {
	@extend .a-btn;
	position: relative;

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__desc {
		margin-left: 30px;
	}
}
