/* ==========================================================================
   Molecule - Category
   ========================================================================== */

.m-category {
	display: block;
	box-shadow: $shadow;
	background-color: $color-white;
	transform: translateY(-2px);
	transition: background-color $transition-ease $transition-duration,
				transform $transition-ease $transition-duration;

	&:hover {
		background-color: $color-lighter;
		transform: translateY(0px);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}

	&__img {
		display: block;
		flex: 0 0 auto;
	}

	&__content {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		justify-content: space-between;
		padding: $spacing-medium;
		text-align: center;
	}

	&__title {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__desc {
		@include font-size($font-size-smallest);
	}
}
