/* ==========================================================================
   Molecule - Content blurb
   ========================================================================== */

.m-content-blurb {
	@media screen and (max-width: $bp-md - 1) {
		width: 100%;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	@media screen and (min-width: $bp-md) {
		flex: 1;
	}

	&__media {
		&:not([class*='--video']) {
			width: 100%;
			@include aspect-ratio(3, 2);
		}
	}

	&__content {
		padding: $spacing-small;
		border-bottom: 1px solid $color-dark;

		@media screen and (min-width: $bp-md) {
			padding: $spacing-medium;
			border-bottom: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__title {
		width: 100%; /* IF fix, avoid text to span outside the parent */
		margin-bottom: 0;
	}

	&__btn {
		margin-left: $spacing-small;
		padding: 0;

		&.js-is-active {
			transform: rotate(180deg);
		}

		&,
		&:hover,
		&:focus {
			color: $color-darker;
		}

		@media screen and (min-width: $bp-md) {
			display: none;
		}

		> .a-icon {
			vertical-align: top;
			width: 20px;
			height: 20px;
		}
	}

	&__text {
		margin-top: $spacing-small;
		@include font-size($font-size-smaller);

		&--hidden {
			display: none;
		}

		&.js-is-visible {
			display: block;
		}

		@media screen and (min-width: $bp-md) {
			display: block;
			margin-top: $spacing-small;
		}
	}

	&__link {
		display: block;
		margin-top: $spacing-small;
		text-decoration: none;

		&-icon {
			vertical-align: middle;
			width: 20px;
			height: 20px;
		}
	}
}
