/* ==========================================================================
   Molecule - Content teaser
   ========================================================================== */

.m-content-teaser {
	&:not(:first-child) {
		margin-top: $spacing-medium;
	}

	&__link {
		&,
		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	&__wrapper {
		display: block;
		padding: $spacing-medium;
		border: 1px solid $color-lighter;
		background: $color-white;
		transform: translateY(-2px);
		transition: transform $transition-duration-fast $transition-ease;

		@media screen and (min-width: $bp-md) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media screen and (min-width: $bp-lg) {
			padding-right: $spacing-x-large;
			padding-left: $spacing-x-large;
		}

		&:hover,
		&:focus {
			transform: translateY(0);
			background: $color-lighter;
		}
	}

	&__image {
		@media screen and (min-width: $bp-md) {
			order: 2;
			max-width: 250px;
		}

		+ [class*="__content"] {
			margin-top: $spacing-medium;

			@media screen and (min-width: $bp-md) {
				margin-top: 0;
			}
		}
	}

	&__content {
		@media screen and (min-width: $bp-md) {
			order: 1;
			max-width: 720px;
			padding-right: $spacing-medium;
		}
	}

	&__read-more,
	&__content-type {
		@include font-size($font-size-smaller);
		color: $color-teal;
	}

	&__content-type {
		text-transform: capitalize;
	}
}
