/* ==========================================================================
   Molecule - CTA block
   ========================================================================== */

.m-cta-block {
	position: relative;
	display: block;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $color-white;
	}

	@media screen and (min-width: $bp-lg) {
		min-height: 400px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: $spacing-large $spacing-medium;
		height: 100%;
		color: $color-white;

		@media screen and (min-width: $bp-lg) {
			padding: $spacing-large;
		}
	}

	&__title {
		color: $color-white;

		@media screen and (max-width: $bp-md) {
			padding-right: 50px;
			margin-bottom: 0;
		}
	}

	&__desc {
		display: none;
		color: $color-white;
		font-weight: 600;

		@media screen and (min-width: $bp-lg) {
			display: block;
			margin-bottom: $spacing-large;
			padding-right: 0;
		}
	}

	&__icon {
		position: absolute;
		right: $spacing-medium;
		top: 50%;
		transform: translateY(-50%);

		@media screen and (min-width: $bp-lg) {
			transform: translateY(0);
			top: auto;
			bottom: $spacing-large;
			left: $spacing-large;
		}
	}

	&__bg {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;

		&,
		&.u-object-fit {
			position: absolute;
		}
	}
}
