/* ==========================================================================
   Atoms - Custom file upload
   ========================================================================== */

.m-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	&:focus,
	&.has-focus {
		+ [class*="-label"] {
			border-color: $color-darker;
		}
	}

	+ [class*="-label"] {
		padding: .625rem 1.25rem;
		border-radius: $spacing-small;
		border: 1px solid $color-dark;
		background: $color-white;
		line-height: 1;
		cursor: pointer;
		transition: border $transition-duration $transition-ease;

		@media screen and (min-width: $bp-sm) {
			border-radius: .278em;
			padding: .833rem 1.111rem;
			font-size: .889rem;
		}

		> [class*="-icon"] {
			vertical-align: bottom;
			margin-right: ($spacing-small/2);
		}
	}
}

.no-js .m-file-input {
	width: auto;
	height: auto;
	opacity: 1;
	overflow: hidden;
	position: static;
	z-index: 1;

	+ [class*="-label"] {
		display: none;
	}
}
