/* ==========================================================================
   Atoms -  Custom radio button
========================================================================== */

.m-radio-custom {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);

	+ label {
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		margin-right: $spacing-medium;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			border-radius: 50%;
			background-color: $color-white;
			transform: translateY(-50%);
			transition: border $transition-duration $transition-ease, background $transition-duration $transition-ease;
		}

		&:before {
			left: 0;
			width: 20px;
			height: 20px;
			border: 2px solid $color-darker;
		}

		&:after {
			left: 6px;
			width: 8px;
			height: 8px;
		}
	}

	&--align-top {
		+ label {
			&:before {
				top: 0;
				transform: translateY(0);
			}

			&:after {
				top: 6px;
				transform: translateY(0);
			}
		}
	}

	&:focus {
		+ label {
			&:before {
				border-color: $color-black;
			}
		}
	}

	&:checked {
		+ label {
			&:after {
				background: $color-yellow;
			}
		}
	}

	// Make sure it's the correct border color when checked and in focus
	&:checked,
	&:focus:checked {
		+ label {
			&:before {
				border-color: $color-yellow;
			}
		}
	}

	&--expand {
		width: 100%;
		height: 100%;
		clip: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 1;

		+ label {
			margin-right: 0;
			margin-left: 0;
		}
	}
}
