/* ==========================================================================
   Molecule - Employee item
   ========================================================================== */

.m-employee-item {
	box-shadow: $shadow;
	background: $color-white;

	&__image {
		img {
			display: block;
			width: 100%;
		}
	}

	&__content {
		padding: $spacing-large $spacing-medium;
		@include font-size($font-size-smaller);
		text-align: center;
	}

	&__job-title {
		display: block;
		font-weight: 600;
	}

	&__meta-data {
		margin-top: $spacing-small;

		+ [class*="__meta-data"] {
			margin-top: 0;
		}
	}

	&__mail {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
