/* ==========================================================================
   Molecule - Form item
   ========================================================================== */

.m-form-item {
	&--relative {
		position: relative;
	}

	+ [class*="-item"] {
		margin-top: $spacing-small;

		@media screen and (min-width: $bp-sm) {
			margin-top: $spacing-medium;
		}
	}

	/* Decrease spacing between form-items */
	+ [class*="--narrow"] {
		@media screen and (min-width: $bp-sm) {
			margin-top: $spacing-small;
		}
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}
