/* ==========================================================================
   Molecule - Header section
   ========================================================================== */

.m-header-section {
	h1 {
		margin-bottom: $spacing-small;
	}

	&__count {
		font-weight: 600;
	}
}
