/* ==========================================================================
   Molecule - Language menu
   ========================================================================== */

.m-language-menu {
	background-color: $color-white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	min-width: stretch;

	&:not(.js-is-visible) {
		display: none;
	}

	&__item {
		@media screen and (min-width: $bp-lg) {
			&:not(:first-child) {
				border-top: 1px solid $color-dark;
			}
		}
	}

	&__link {
		display: block;
		padding: $spacing-small;
		color: inherit;
		text-transform: capitalize;
		text-decoration: none;
		@include font-size($font-size-smallest);

		&:hover,
		&:focus {
			background-color: $color-yellow--lighter;
			color: inherit;
		}
	}
}
