/* ==========================================================================
   Molecule - Lists
   ========================================================================== */

/* Target only unclassed ul and ol*/
ul,
ol {
	&:not(.u-list-unstyled) {
		margin-top: $spacing-medium;

		> li {
			&:not(:first-child) {
				margin-top: ($spacing-small/2);
			}
		}
	}
}

ul {
	&:not(.u-list-unstyled) {
		padding-left: 0;
		list-style: none;

		> li {
			position: relative;
			padding-left: 15px;

			&:before {
				content: '';
				position: absolute;
				top: .65em;
				left: 0;
				width: 5px;
				height: 5px;
				margin-right: $spacing-small;
				border-radius: 50%;
				background-color: $color-yellow;
			}
		}
	}
}
