/* ==========================================================================
   Molecule - Map
   ========================================================================== */

.m-map {
	min-height: 100%;
	@include aspect-ratio(3, 2);

	.gm-style-pbc {
		color: #fff !important;

		div {
			color: #fff !important;
		}
	}
}
