/* ==========================================================================
   Molecule - Post item
   ========================================================================== */

.m-post-item {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
	box-shadow: $shadow;

	&:hover {
		transform: translateY(0);
		background: $color-lighter;
	}

	&__content-wrapper {
		flex: 1 1 100%;

		&,
		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	&__content {
		padding: $spacing-small;

		@media screen and (min-width: $bp-md) {
			padding: $spacing-medium;
		}
	}

	&__tags {
		flex: 1 1 100%;
		align-self: flex-end;
		padding: $spacing-small;

		@media screen and (min-width: $bp-md) {
			padding: $spacing-medium;
		}
	}
}
