/* ==========================================================================
   Molecule - Primary navigation with sub navigation and product promotion blocks
   ========================================================================== */

.m-primary-navigation {
	background-color: $color-white;

	&__item {
		@include font-size($font-size-small);

		&--has-child {
			position: relative;
		}

		@media screen and (min-width: $bp-lg) {
			display: inline-block;
			vertical-align: middle;

			&--visible-md {
				display: none;
			}

			&:hover,
			&:focus {
				/* Display sub menu on hover */
				> .m-primary-sub-navigation {
					display: flex;
				}
			}
		}
	}

	&__link {
		display: block;
		height: $menu-item-height;
		padding: $spacing-medium;
		border-bottom: 1px solid $color-dark;
		font-weight: 600;
		color: inherit;
		text-decoration: none;
		transition: background-color $transition-ease $transition-duration;

		@media screen and (min-width: $bp-md) {
			line-height: 1;
		}

		@media screen and (min-width: $bp-lg) {
			padding: 0 $spacing-small $spacing-small;
			height: auto;
			border-bottom: 5px solid transparent;
			text-transform: uppercase;
		}

		&--active,
		&:hover,
		&:focus {
			background-color: $color-yellow--lighter;
			text-decoration: none;
			color: inherit;

			@media screen and (min-width: $bp-lg) {
				background-color: transparent;
				border-color: $color-yellow;
			}
		}
	}

	&__menu-btn {
		position: absolute;
		top: 0;
		right: 0;
	}
}

/* Sub navigation */
.m-primary-sub-navigation {
	background-color: $color-white;
	z-index: 2;

	> ul {
		background-color: inherit; /* For IE */
	}

	&:not(.js-is-visible) {
		display: none;
	}

	@media screen and (min-width: $bp-lg) {
		display: none;
		position: absolute;
		left: 0;
		box-shadow: 0 1px 2px $transparent-black;

		&--right {
			right: 0;
			left: auto;
		}
	}

	&__item {
		border-left: 5px solid $color-yellow;
		@include font-size($font-size-smaller);

		&--has-child {
			position: relative;
		}

		@media screen and (min-width: $bp-lg) {
			border-left: none;

			&:not(:first-child) {
				border-top: 1px solid $color-dark;
			}
		}
	}

	&__link {
		display: block;
		padding: $spacing-medium;
		border-bottom: 1px solid $color-dark;
		color: inherit;
		text-decoration: none;
		transition: background-color $transition-ease $transition-duration;

		&--active,
		&:hover,
		&:focus {
			background-color: $color-yellow--lighter;
			color: inherit;
		}

		@media screen and (min-width: $bp-lg) {
			border-bottom: none;
			white-space: nowrap;
		}
	}
}


/* Promotion area */
.m-primary-sub-navigation__promo {
	display: none;
	padding: $spacing-medium;
	border-left: 1px solid $color-dark;
	background-color: $color-white;

	@media screen and (min-width: $bp-lg) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&-item {
		display: flex;
		min-width: 480px;

		&:not(:first-child) {
			margin-top: $spacing-medium;
		}

		// If only child
		&:first-child:last-child {
			flex-wrap: wrap;
			min-width: 250px;

			.m-primary-sub-navigation__promo-img {
				padding-bottom: 66%;
				flex: 1 1 100%;
			}

			.m-primary-sub-navigation__promo-content {
				flex: 1 1 100%;
			}
		}
	}

	&-img {
		flex-basis: 50%;
		position: relative;
		padding-bottom: 33%;
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 50%;
		width: 100%; /* IF fix, avoid text to span outside the parent */
		padding: $spacing-medium;
		background-color: $color-lighter;
	}

	&-title {
		@include font-size($font-size-smaller);
		font-weight: 600;
		line-height: 1;
	}

	&-desc {
		width: 100%; /* IF fix, avoid text to span outside the parent */
		margin-top: $spacing-small;
		@include font-size($font-size-tiny);
	}

	&-link {
		align-self: flex-end;
		margin-top: $spacing-small;
		text-decoration: underline;
		line-height: 1;
		@include font-size($font-size-tiny);
	}
}
