.m-product-block {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $bp-sm) {
		flex-direction: row;
		align-items: center;
		justify-items: center;
	}

	// TODO: Refactor info and image to one class instead of two separate...
	&__info {
		padding-top: $spacing-medium;

		@media screen and (min-width: $bp-sm) {
			flex: 1 0 50%;
			max-width: 50%;
			padding-top: 0;
			padding-right: $spacing-small;
			padding-left: $spacing-small;
		}

		&-data {
			margin-top: $spacing-medium;

			p {
				margin-top: 0;
			}
		}
	}

	&__image {
		&:last-child {
			@media (max-width: $bp-sm) {
				order: -1;
			}
		}

		@media screen and (min-width: $bp-sm) {
			flex: 1 0 50%;
			max-width: 50%;
			padding-right: $spacing-small;
			padding-left: $spacing-small;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.no-flexbox,
.no-flexboxlegacy {
	.m-product-block {
		&__info,
		&__image {
			width: 48%;
			display: inline-block;
		}
	}
}
