/* ==========================================================================
   Molecule - Product item
   ========================================================================== */

.m-product-item {
	box-shadow: $shadow;
	background: $color-white;
	padding: $spacing-medium $spacing-small;
	transform: translateY(-2px);
	transition: transform $transition-duration-fast $transition-ease;

	@media screen and (min-width: $bp-sm) {
		padding: $spacing-large $spacing-medium;
	}

	&__content-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
	}

	&__link {
		&,
		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	&:hover,
	&:focus {
		transform: translateY(0);
		background: $color-lighter;
	}

	&__image {
		flex: 1 1 100%;
		text-align: center;

		img {
			max-height: 160px;
		}
	}

	&__content {
		width: 100%; /* IF fix, avoid text to span outside the parent */
		margin-top: $spacing-medium;
		margin-bottom: $spacing-medium;
		@include font-size($font-size-smaller);
		text-align: center;

		/* TODO: Refactor so it's a class */
		h5 {
			margin-bottom: $spacing-small/2;
		}
	}

	&__meta-data {
		margin-top: $spacing-small;

		+ [class*="__meta-data"] {
			margin-top: 0;
		}
	}

	&__meta-label {
		font-weight: 600;
	}

	&__btn {
		align-self: flex-end;
	}
}


