/* ==========================================================================
   Molecule - Reseller search form
   ========================================================================== */

.m-reseller-search {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;

	&:not(:first-child) {
		margin-top: $spacing-medium;
	}

	&__content {
		&:not(:last-child) {
			margin-bottom: $spacing-medium;
		}
	}

	&__icon {
		margin: 0 auto $spacing-small;
	}

	&__title {
		&:not(:first-child) {
			margin-top: initial;
		}
	}

	&__item {
		flex: 1 0 auto;
		max-width: 100%;

		&--separator {
			margin-bottom: $spacing-small;
			padding-bottom: $spacing-medium;
			border-bottom: 1px solid $color-dark;
		}

		+ [class*="__item"] {
			margin-top: $spacing-small;
		}
	}
}
