/* ==========================================================================
   Molecule - Single Reseller Result
   ========================================================================== */
$lines-to-show: 4;

.m-reseller-result {
	position: relative;
	box-shadow: $shadow;
	border-radius: .313em;

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 0;
		border-radius: 0;
	}

	&__content {
		padding: $spacing-small $spacing-small;
		background-color: $color-white;
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: $spacing-small;
	}

	&__image {
		flex: 0 0 auto;
		color: $color-yellow;
		margin-right: $spacing-small;
	}

	&__name {
		margin-top: 0;
		font-weight: 600;
	}

	&__details,
	&__contact {
		margin-top: $spacing-medium;
	}


	&__link {
		color: inherit;

		&--hide {
			display: none;
		}
	}

	&__desc {
		> p {
			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			max-width: 100%;
			max-height: 1em * $base-line-height * $lines-to-show; /* Fallback for non-webkit */
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> .a-btn {
			flex: 1 1 50%;
		}
	}
}
