/* ==========================================================================
   Molecule - Secondary navigation
   ========================================================================== */

.m-secondary-menu {
	line-height: 1;

	&__item {
		@include font-size($font-size-smaller);

		&:not(:last-child) {
			margin-bottom: $spacing-small;
		}

		@media screen and (min-width: $bp-sm) {
			display: inline-block;

			&:not(:last-child) {
				margin-bottom: 0;
				margin-right: $spacing-medium;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-white;
			text-decoration: underline;
		}
	}
}
