/* ==========================================================================
   Molecule - Sign up
   ========================================================================== */

.m-signup {
	display: none;

	&.js-is-visible {
		display: block;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		&-title {
			margin-bottom: 0;
		}

		&-btn {
			padding-right: $spacing-small;
			padding-left: $spacing-small;

			> .a-icon {
				vertical-align: top;
				margin-top: -1px;
				margin-right: 5px;
			}
		}
	}

	&__content {
		margin-top: $spacing-medium;
	}

	&__summary {
		padding: $spacing-medium;
		box-shadow: $shadow;
		background-color: $color-white;
	}

	&__summary-item {
		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	&__summary-label {
		font-weight: 600;
	}

	&__actions {
		display: flex;
		justify-content: space-between;

		> .a-btn {
			flex: 1 1 50%;
		}
	}
}
