/* ==========================================================================
   Molecule - Social media list
   ========================================================================== */

.m-social-media-list {
	&__item {
		display: inline-block;
		vertical-align: middle;

		&:not(:first-child) {
			margin-left: $spacing-medium;
		}
	}

	&__link {
		display: block;
		color: $color-darker;
		line-height: 1;
		@include font-size($font-size-tiny);
		transition: color $transition-ease $transition-duration;

		@media screen and (min-width: $bp-sm) {
			font-size: inherit;
		}

		&:hover,
		&:focus {
			color: $color-black;
		}
	}
}
