/* ==========================================================================
   Atoms - Video
   ========================================================================== */

.m-video {
	position: relative;
	z-index: 0;

	&__iframe {
		position: absolute;
		height: 0;
		width: 100%;
		top: 0;
		opacity: 0;
		transition: opacity .5s ease, height .1s .5s ease;

		&--no-placeholder {
			height: 100%;
			opacity: 1;
		}

		&--active {
			height: 100%;
			opacity: 1;
			z-index: 3;
			transition: height .1s ease, opacity .5s .1s ease;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__poster {
		cursor: pointer;
		@include aspect-ratio(3, 2);

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $transparent-black;
			transition: background $transition-duration $transition-ease;
		}

		&:hover,
		&:focus {
			&:after {
				background: transparent;
			}
		}

		&-icon {
			position: absolute;
			left: 50%;
			top: 50%;
			height: 45px;
			width: 45px;
			fill: $color-white;
			transform: translate(-50%, -50%);
			z-index: 2;

			@media screen and (min-width: $bp-md) {
				height: 80px;
				width: 80px;
			}
		}

		&--none {
			background: $color-teal--transparent;
			z-index: 1;
		}
	}
}
