<div class="o-image-slider">
	<div class="swiper-wrapper">
		{{#each images}}
			<div class="swiper-slide">
				{{render '@object-fit' this}}
			</div>
		{{/each}}
	</div>
	<div class="swiper-pagination"></div>

	<div class="swiper-button-prev">
		{{render '@icon' iconLeft}}
	</div>
	<div class="swiper-button-next">
		{{render '@icon' iconRight}}
	</div>
</div>
