<input class="a-input-field{{ modifier }}{{ class }}"
	{{#if id}} id="{{ id }}"{{/if}}
	{{#if type}} type="{{ type }}"{{/if}}
	{{#if placeholder}} placeholder="{{ placeholder }}"{{/if}}
	{{#if name}} name="{{ name }}"{{/if}}
	{{#if value}} value="{{ value }}"{{/if}}
	{{#if required}} required="required" aria-required="true"{{/if}}>
