{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section class="u-section-spacing u-section-spacing--only-bottom">
		<div class="u-container u-container--wide">
			{{render '@hero--image-only'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{render '@intro--left' }}
		</div>
	</section>

	<section class="u-section-spacing u-section-border">
		<div class="u-container u-container--narrow">
			{{render '@product-block'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{render '@heading-2'}}
			{{render '@paragraph'}}
			{{render '@heading-2'}}
			{{render '@paragraph'}}
			{{render '@heading-2'}}
			{{render '@paragraph'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{render '@faq'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-product'}}
		</div>
	</section>
</main>
{{ render '@footer' }}
