<input class="m-radio-custom {{ class }}" id="{{ id }}" type="radio" name="type-radio" value="{{ value }}" {{#if required }}required="required" aria-required="true"{{/if }}>
<label for="{{ id }}">{{label}}</label>
