{{ render '@header' }}

<main class="main" role="main">
	<section class="u-section-spacing--large">
		<div class="u-container u-container--narrow">
			{{render '@intro' introData }}
		</div>
	</section>
</main>

{{ render '@footer' }}

