/* ==========================================================================
   Settings - Breakpoints
   ========================================================================== */

$bp-xxl: 1580px !default;
$bp-xl: 1280px !default;
$bp-lg: 992px !default;
$bp-md: 768px !default;
$bp-sm: 576px !default;
$bp-xs: 480px !default;
$bp-xxs: 325px !default;
