/* ==========================================================================
   Color settings
   ========================================================================== */
/* Yellow (primary) */
$color-yellow: #ffc600 !default;
$color-yellow--transparent: rgba(255, 198, 0, .8) !default;
$color-yellow--lighter: #fbf3d7 !default;
$color-yellow--light: #fbd245 !default;
$color-yellow--dark: #f1bb00 !default;

/* Teal (secondary) */
$color-teal: #2cd5c4 !default;
$color-teal--transparent: rgba(44, 213, 196, .8) !default;
$color-teal--light: #5ae6d8 !default;
$color-teal--dark: #22ac9e !default;

/* Brown */
$color-brown: #5c3d31 !default;
$color-brown--transparent: rgba(92, 61, 49, .8) !default;
$color-brown--light: #6d483a !default;
$color-brown--dark: #3b271f !default;

/* Navy */
$color-navy: #0047bb !default;
$color-navy--transparent: rgba(0, 71, 187, .8) !default;
$color-navy--light: #0051d5 !default;
$color-navy--dark: #003488 !default;

/* Green */
$color-green: #74aa50 !default;
$color-green--transparent: rgba(116, 170, 80, .8) !default;
$color-green--light: #8fc16e !default;
$color-green--dark: #5c8740 !default;

/* Neutral */
$transparent-black: rgba(0, 0, 0, .3) !default;
$color-black: #000 !default;
$color-darkest: #2c2a29 !default;
$color-darker: #5c5c5c !default;
$color-darker--transparent: rgba(92, 92, 92, .8) !default;
$color-dark: #d8d8d8 !default;
$color-light: #ebebeb !default;
$color-lighter: #f7f7f7 !default;
$color-white: #fff !default;
$transparent-white: rgba(255, 255, 255, .9) !default;
$transparent-white-light: rgba(255, 255, 255, .3) !default;

/* Highlight */
$color-error: #b43e23 !default;
$color-warning: #ed6a2f !default;

/* Mark */
$color-mark-background: transparent !default;
$color-mark-color: $color-yellow !default;

/* Box-shadow */
$shadow: 0 2px 5px 0 rgba(44, 42, 41, .15) !default;
