/* ==========================================================================
   Settings - Layout variables
   ========================================================================== */

/* Widths */
$max-width: 1200px !default;
$max-width--wide: 1480px !default;
$max-width--narrow: 720px !default;
$max-width--xs: 480px !default;

/* Heights */
$header-height: 65px !default;
$menu-item-height: 60px !default;
