/* ==========================================================================
   Spacing settings
   ========================================================================== */

$spacing-x-large: 4.444rem !default; 	// 80px
$spacing-large: 2.223rem !default; 		// 40px
$spacing-medium: 1.112rem !default; 	// 20px
$spacing-small: 0.556rem !default; 		// 10px
