/* ==========================================================================
   Transition settings
   ========================================================================== */

$transition-ease: ease-in-out !default;
$transition-duration: .25s !default;
$transition-duration-fast: .15s !default;
