/* ==========================================================================
   Typography settings
   ========================================================================== */

/* Families */
$font-stack: "Helvetica neue", "Helvetica", "Arial", sans-serif !default;

/*
 * Font sizes  width breakpoint
 * Use with the mixin -  @include font-size($font-size-base)
 */

$b-md: 769px !default;

$base-font-sizes: (
	null  : 16px,
	$b-md : 18px
);

$font-size-mega: (
	null  : 1.875rem,  // 30px
	$b-md : 2.667rem   // 48px
);

$font-size-largest: (
	null  : 1.5rem,    // 24px
	$b-md : 2.333rem   // 42px
);

$font-size-larger: (
	null  : 1.375rem,  // 22px
	$b-md : 2rem       // 36px
);

$font-size-large: (
	null  : 1.25rem,   // 20px
	$b-md : 1.333rem   // 24px
);

$font-size-medium: (
	null  : 1.125rem,  // 18px
	$b-md : 1.111rem   // 20px
);

$font-size-small: (
	null  : 1rem,      // 16px
	$b-md : 1rem       // 18px
);

$font-size-smaller: (
	null  : 0.875rem,  // 14px
	$b-md : 0.778rem   // 14px
);

$font-size-smallest: (
	null  : 0.875rem,  // 14px
	$b-md : 0.667rem   // 12px
);

$font-size-tiny: (
	null  : 0.75rem,   // 12px
	$b-md : 0.667rem   // 12px
);

/* Line height */
$base-line-height: 1.5 !default;
$narrow-line-height: 1.1 !default;

