{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<form role="form" action="/components/preview/submitted-form">
		<section class="u-section-spacing u-section-spacing--large">
			<div class="u-container u-container--narrow">
				{{render '@intro' introData }}
			</div>
		</section>

		<section class="m-signup u-section-spacing u-section-spacing--large u-bg-lighter js-is-visible" id="signup-start">
			<div class="u-container u-container--narrow">
				<div class="m-signup__header">
					<h2 class="m-signup__header-title">Steg 1 av 3</h2>
				</div>

				<div class="m-signup__content o-form js-form-validation">
					<div class="o-form__group">
						<div class="m-form-item m-form-item--1-2">
							<label class="a-label" for="firstname">Förnamn *</label>
							<input type="text" name="signup-firstname" id="firstname" required="required" aria-required="true">
						</div>
						<div class="m-form-item m-form-item--1-2">
							<label class="a-label" for="surname">Efternamn *</label>
							<input type="text" name="signup-surname" id="surname" required="required" aria-required="true">
						</div>
					</div>
					<div class="m-form-item">
						<label class="a-label" for="street_address">Gatuadress</label>
						<input type="text" name="signup-street_address" id="street_address">
					</div>
					<div class="o-form__group">
						<div class="m-form-item m-form-item--1-4">
							<label class="a-label" for="zip">Postnummer</label>
							<input type="text" name="signup-zip" id="zip" pattern="[0-9]{5}">
						</div>
						<div class="m-form-item m-form-item--3-4">
							<label class="a-label" for="city">Stad</label>
							<input type="text" name="signup-city" id="city">
						</div>
					</div>
					<div class="m-form-item">
						<label class="a-label" for="country">Land</label>
						<select name="signup-country" id="country">
							<option selected disabled>Välj land</option>
							<option value="Sverige">Sverige</option>
							<option value="Danmark">Danmark</option>
							<option value="Finland">Finland</option>
							<option value="Norge">Norge</option>
							<option value="Färöarna">Färöarna</option>
							<option value="Grönland">Grönland</option>
							<option value="Åland">Åland</option>
							<option value="Svalbard &amp; Jan Mayen">Svalbard &amp; Jan Mayen</option>
						</select>
					</div>
					<div class="m-form-item">
						<label class="a-label" for="phone-number">Mobiltelefonnummer *</label>
						<input type="tel" name="signup-phone-number" id="phone-number" required="required" aria-required="true">
						<p class="a-description">Vi använder SMS-avisering så det är viktigt att du anger ett mobiltelefonnummer för snabb leverans.</p>
					</div>
					<div class="m-form-item">
						<label class="a-label" for="phone-number-2">Alternativt telefonnummer</label>
						<input type="tel" name="signup-phone-number-2" id="phone-number-2">
					</div>
					<div class="m-form-item">
						<label class="a-label" for="email">E-postadress *</label>
						<input id="emailInput" type="email" name="signup-email" id="email" required="required" aria-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
					</div>
					<div class="m-form-item">
						<label class="a-label" for="email_confirmation">Bekräfta e-postadress *</label>
						<input id="emailInputConfirm" type="email" name="signup-email-confirmation" required="required" aria-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
						<div class="a-feedback a-feedback--error"></div>
					</div>
					<div class="m-form-item">
						<button class="a-btn js-go-to-target js-validate-form" data-target="signup-map" type="button" disabled>Hitta återförsäljare</button>
						<p class="a-description">
							För att registrera dig som återförsäljare krävs det att du har en kontakt som är återförsäljare för Forever.<br/>
							Antingen har du redan träffat någon eller så kan du söka efter en kontakt i nästa steg av registreringsprocessen.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="m-signup u-section-spacing u-section-spacing--large" id="signup-map">
			<div class="u-container u-container--narrow">
				<div class="m-signup__header">
					<h3 class="m-signup__header-title">Steg 2 av 3</h3>
					<button class="m-signup__header-btn a-btn a-btn--narrow js-go-to-target" data-target="signup-start" type="button">
						{{ render '@icon' iconData }}
						<span class="u-visually-hidden">Gå tillbaka till </span>
						Steg 1
					</button>
					<p>Sök efter en person eller plats och välj en av dem för att gå vidare till nästa steg.</p>
				</div>
			</div>

			<div class="m-signup__content u-section-spacing">
				<div class="u-container u-container--wide">
					{{ render '@reseller-sponsor' }}
				</div>
			</div>
		</section>

		<section class="m-signup u-section-spacing u-section-spacing--large u-bg-ligther" id="signup-confirm">
			<div class="u-container u-container--narrow">
				<div class="m-signup__header">
					<h3 class="m-signup__header-title">Steg 3 av 3</h3>
					<button class="m-signup__header-btn a-btn a-btn--narrow js-go-to-target" data-target="signup-map" type="button">
						{{ render '@icon' iconData }}
						<span class="u-visually-hidden">Gå tillbaka till </span>
						Steg 2
					</button>
					<p>Kontrollera att de uppgifter du har fyllt i stämmer. Om något är fel är det viktigt att du ändrar det innan du fortsätter.</p>
				</div>

				<div class="m-signup__content">
					<h5>Vald återförsäljare:</h5>
					<div class="m-signup__reseller m-reseller-result">
						<input type="hidden" name="reseller-id" id="reseller-id" value="">
						<div class="m-reseller-result__person">
							<div class="m-reseller-result__content">
								<div class="m-reseller-result__header">
									<div class="m-reseller-result__image">
										<svg role="img" class="a-icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-person-circle"></use>
										</svg>
									</div>
									<p class="m-reseller-result__name">Förnamn Efternamn</p>
								</div>
								<div class="m-reseller-result__desc">
									<p>
										Kontakta mig gärna för en timmes förutsättningslöst möte
										så ska jag berätta vad den här businessen handlar om och
										var den kan passa in i ditt liv…
									</p>
								</div>
								<ul class="m-reseller-result__details u-list-unstyled">
									<li class="m-reseller-result__detail">Adress 1</li>
									<li class="m-reseller-result__detail">123 45 Staden</li>
									<li class="m-reseller-result__detail">Phone/E-mail</li>
								</ul>
							</div>
							<div class="m-reseller-result__actions">
								<button class="a-btn a-btn--flat-top a-btn--flat-right u-bg-darker js-go-to-target" data-target="signup-map" type="button">Ändra person</button>
								<a class="a-btn a-btn--flat-top a-btn--flat-left m-reseller-result__actions-mav" href="#" target="_blank">
									Gå till shop
								</a>
							</div>
						</div>
					</div>

					<h5>Bekräfta dina uppgifter:</h5>
					<div class="m-signup__summary"></div>
					<div class="m-signup__actions">
						<button class="a-btn a-btn--flat-top a-btn--flat-right u-bg-darker js-go-to-target" data-target="signup-start" type="button">Ändra uppgifter</button>
						<input class="a-btn a-btn--flat-top a-btn--flat-left" type="submit" value="Skicka in">
					</div>
				</div>
			</div>
		</section>
	</form>
</main>

{{ render '@footer' }}
