<div class="o-grid o-grid--no-gap">
	{{#if blocks}}
		<div class="o-grid__wrapper">
			{{#each blocks}}
				<div class="o-grid__block">
					{{render '@cta-block' this}}
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>
