{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section class="u-section-spacing u-section-spacing--only-bottom">
		<div class="u-container u-container--wide">
			{{render '@hero'}}
		</div>
	</section>

	<section class="u-section-spacing u-section-spacing--only-top">
		<div class="u-container">
			{{render '@header-section'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-posts' gridItems}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{render '@buttons' buttonData}}
		</div>
	</section>
</main>

{{ render '@footer' }}
