{{ render '@header' }}

<main class="main" role="main">
	<section class="u-section-spacing u-section-spacing--only-bottom">
		<div class="u-container u-container--wide">
			{{render '@promo' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{render '@intro' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@cta-wrapper' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-category' }}
		</div>
	</section>

	<section class="u-section-spacing u-section-spacing--large-bottom">
		<div class="u-container">
			{{render '@promo-block'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@instagram' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
