<div class="{{ class }} u-object-fit {{ modifier }}">
	<div class="u-object-fit__container">
		<img class="u-object-fit__image a-image {{ imageModifier }} {{ imageClass }}" src="../../images/{{ image }}" alt="{{ alt }}"/>
	</div>
</div>
