/* ==========================================================================
   Atoms - Buttons
   ========================================================================== */

.a-btn,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	display: inline-block;
	padding: .625rem 1.25rem;
	border: 0;
	border-radius: .313em;
	background-color: $color-yellow;
	color: $color-darkest;
	font-size: .875rem;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	cursor: pointer;
	transition: background-color $transition-ease $transition-duration,
	border $transition-ease $transition-duration,
	color $transition-ease $transition-duration;

	@media screen and (min-width: $bp-md) {
		border-radius: .278em;
		padding: .833rem 1.111rem;
		font-size: .889rem;
	}

	&:focus,
	&:hover {
		background-color: $color-yellow--dark;
		color: $color-darkest;
		text-decoration: none;
	}

	&:focus {
		outline-width: 1px;
		outline-color: $color-yellow;
	}

	&[disabled] {
		background-color: $color-light;
		color: inherit;
		opacity: .7;
		cursor: not-allowed;

		&:hover,
		&:focus {
			background-color: $color-light;
		}
	}
}

.a-btn {
	text-decoration: none;

	&--narrow {
		@include font-size($font-size-smaller);

		@media screen and (min-width: $bp-md) {
			padding: $spacing-small;
		}
	}

	&--border {
		background-color: $color-white;
		color: $color-yellow;
		border: 1px solid currentColor;

		&:hover,
		&:focus {
			border-color: transparent;
		}
	}

	/* Remove background */
	&--transparent {
		&,
		&:focus,
		&:hover {
			background-color: transparent;
		}
	}

	&--flat-left {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	&--flat-right {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	&--flat-top {
		border-top-right-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}

	/* Make the button span 100% */
	&-block {
		display: block;
		width: 100%;
	}

	/* Center button inside parent element */
	&--center {
		display: block;
		margin-right: auto;
		margin-left: auto;

		.a-btn__link & {
			display: inline-block;
			justify-self: center;
		}
	}

	&__link {
		display: flex;
	}
}
