/* ==========================================================================
   Atoms - Fieldset
   ========================================================================== */

.fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
