/* ==========================================================================
   Atoms - Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	line-height: $narrow-line-height;

	&:first-child {
		margin-top: 0;
	}

	&:not(:first-child) {
		margin-top: $spacing-medium;

		@media screen and (min-width: $bp-sm) {
			margin-top: $spacing-large;
		}
	}

	@media screen and (max-width: $bp-xs) {
		/* Breaking long titles */
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	+ p {
		margin-top: 0;
	}
}

h2,
h3,
h4,
h5,
h6 {
	margin-bottom: $spacing-small;

	@media screen and (min-width: $bp-sm) {
		margin-bottom: $spacing-medium;
	}
}

h1 {
	margin-bottom: $spacing-medium;
	@include font-size($font-size-mega);

	@media screen and (min-width: $bp-sm) {
		margin-bottom: $spacing-large;
	}
}

h2 {
	@include font-size($font-size-largest);
}

h3 {
	@include font-size($font-size-larger);
}

h4 {
	@include font-size($font-size-large);
}

h5 {
	@include font-size($font-size-medium);
}

h6 {
	@include font-size($font-size-small);
}

