/* ==========================================================================
   Atoms - Headings styles - TODO: Is this used?
   ========================================================================== */

.a-title {
	&--block {
		margin-bottom: 0;
		padding: $spacing-medium;
		background: $color-yellow;
		color: $color-black;
	}

	&--decoration:after {
		content: '';
		display: block;
		width: 200px;
		margin-top: 10px;
		border-bottom: 5px solid $color-yellow;
	}

	&--inverted {
		color: $color-white;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	> a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	> svg {
		margin-top: -5px;
		margin-right: 5px;
		vertical-align: middle;
	}

	/* TODO: Is this used?? */
	&--block-tag {
		position: absolute;
		top: 20px;
		left: 0;
		z-index: 1;
		padding: $spacing-small;
		@include font-size($font-size-small);
	}
}
