/* ==========================================================================
   Atoms - Icons
   ========================================================================== */
$icon-size: 32px !default;

.a-icon {
	width: $icon-size;
	height: $icon-size;
	fill: currentColor;
	vertical-align: middle;

	&--large {
		@media screen and (min-width: $bp-sm) {
			width: ($icon-size * 2);
			height: ($icon-size * 2);
		}
	}

	&--medium {
		width: 20px;
		height: 20px;
	}

	&--small {
		width: ($icon-size / 2);
		height: ($icon-size / 2);
	}

	&--tiny {
		width: ($icon-size / 2 - 4);  /* 12px */
		height: ($icon-size / 2 - 4); /* 12px */
	}

	&--inverted {
		fill: $color-white;
	}

	&--klarna {
		width: 55px;
	}
}

