/* ==========================================================================
   Atoms - Input Feedback
   ========================================================================== */

.a-feedback {
	margin-top: ($spacing-small/2);
	color: $color-green;

	&--warning {
		color: $color-warning;
	}

	&--error {
		color: $color-error;
	}
}
