/* ==========================================================================
   Atoms - Select
   ========================================================================== */

select {
	position: relative;
	-webkit-appearance: none;
	width: 100%;
	padding: .625rem 1.25rem;
	border-radius: $spacing-small;
	border: 1px solid $color-dark;
	box-shadow: none;
	background:$color-white url('../images/icon-down.svg') center right $spacing-small no-repeat;
	background-size: 1rem;
	line-height: 1;

	@media screen and (min-width: $bp-sm) {
		border-radius: .278em;
		padding: .833rem 1.111rem;
		font-size: .889rem;
	}

	&::-ms-expand {
		display: none;
	}
}
