/* ==========================================================================
   Atoms - Forms
   ========================================================================== */

input {
	+ label,
	+ .a-input-field {
		margin-left: ($spacing-small/2);
	}
}

.a-input-field,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime-local"],
input[type="number"],
input[type="textarea"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: .625rem 1.25rem;
	border-radius: .313em;
	border: 1px solid $color-dark;
	line-height: 1;
	box-shadow: none;
	transition: border $transition-duration $transition-ease;

	&:focus {
		outline: 0;
		border-color: $color-darker;
	}

	@media screen and (min-width: $bp-sm) {
		border-radius: .278em;
		padding: .833rem 1.111rem;
		font-size: .889rem;
	}
}

.a-input-field,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="range"],
input[type="textarea"] {
	width: 100%;
}

/* Input fields with icon */
.a-input-field {
	@media screen and (min-width: $bp-sm) {
		&[class*="--icon"] {
			padding-left: 50px;
			background-position: 20px 50%;
			background-repeat: no-repeat;
			background-size: 20px auto;
		}

		&--icon-person {
			background-image: url('./../images/icon-person.svg');
		}

		&--icon-location {
			background-image: url('./../images/icon-location.svg');
		}
	}
}

input.a-input-field {
	&--warning {
		border-color: $color-warning;
		color: $color-warning;

		&:focus {
			border-color: $color-warning;
		}
	}

	&--error {
		border-color: $color-error;
		color: $color-error;

		&:focus {
			border-color: $color-error;
		}
	}
}
