/* ==========================================================================
   Atoms - Placeholder text
   ========================================================================== */

::-webkit-input-placeholder {
	font-style: italic;
	color: $color-darker;
}

::-moz-placeholder {
	font-style: italic;
	color: $color-darker;
}

:-ms-input-placeholder {
	font-style: italic;
	color: $color-darker;
}

:-moz-placeholder {
	font-style: italic;
	color: $color-darker;
}
