/* ==========================================================================
   Atoms - Label
   ========================================================================== */

.a-label,
label {
	margin-bottom: 0;

	&--block {
		display: block;
	}

	&:not(.u-visually-hidden) {
		+ select,
		+ input,
		+ textarea {
			margin-top: $spacing-small;
		}
	}
}
