/* ==========================================================================
   Atoms - Links
   ========================================================================== */

a {
	color: $color-teal;
	transition: color $transition-duration $transition-ease;

	&:active,
	&:hover,
	&:focus {
		color: $color-teal--dark;
	}

	&:focus {
		outline: 0;
	}
}
