/* ==========================================================================
   Atoms - Logo
   ========================================================================== */

.a-logo {
	width: 70px;
	height: 50px;
	color: $color-black;
	vertical-align: middle;

	@media screen and (min-width: $bp-sm) {
		width: 110px;
		height: 75px;
	}

	// Smaller logo
	&--small {
		width: 62px;
		height: 42px;
	}

	// Wide logo, used for the text variant
	&--wide {
		width: 210px;
		height: 24px;
	}
}
