/* ==========================================================================
   Atoms - Menu toggle button
   ========================================================================== */

.a-menu-toggle-btn {
	width: 60px;
	height: $menu-item-height;
	padding: $spacing-medium;
	border-radius: 0;

	&--top-right {
		position: absolute;
		top: 0;
		right: 0;
	}

	&.js-is-active {
		svg {
			transform: rotate(180deg);
		}
	}

	@media screen and (min-width: $bp-lg) {
		display: none;
	}
}
