/* ==========================================================================
   Atoms - Paragraph
   ========================================================================== */

p {
	margin-top: $spacing-medium;
	margin-bottom: 0;
	color: inherit;

	&:first-child {
		margin-top: 0;
	}
}
