/* ==========================================================================
   Atoms - Site name
   ========================================================================== */

.a-site-name {
	display: block;
	margin: 0 auto $spacing-small;
	font-weight: 600;
	color: $color-black;
	text-decoration: none;
	@include font-size($font-size-large);

	@media (min-width: 992px) {
		margin-right: $spacing-small;
		margin-left: 0;
		white-space: nowrap;
	}

	&:focus,
	&:hover {
		color:  $color-black;
	}
}
