/* ==========================================================================
   Atoms - Tag
   ========================================================================== */

.a-tag {
	display: inline-block;
	vertical-align: middle;
	margin: ($spacing-small/2);
	padding: ($spacing-small/2) $spacing-small;
	border-radius:  ($spacing-small/2);
	background: $color-yellow;
	color: $color-black;
	font-weight:  600;
	text-transform: uppercase;
	text-decoration: none;
	line-height: inherit;
	transition: background $transition-duration $transition-ease,
	color $transition-duration $transition-ease;;
	@include font-size($font-size-smaller);

	&:not([class*="u-bg"]) {
		&.js-is-active,
		&:hover,
		&:focus {
			background: $color-yellow--dark;
			color: $color-black;
		}
	}

	&--small {
		@include font-size($font-size-tiny);
	}
}
