<div class="o-reseller">
	<div class="o-reseller__search u-bg-lighter">
		{{ render '@reseller-search' }}
	</div>

	<div class="o-reseller__result">
		{{render '@map-reseller'}}

		<div class="o-reseller__result-wrapper">
			<div class="m-reseller-result o-reseller__result-selected">
				<button class="m-reseller-result__close js-close-reseller a-btn a-btn--transparent">
					<svg role="img" class="a-icon a-icon--tiny" title="icon-close">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-close"></use>
					</svg>
					<span class="u-visually-hidden">Close result</span>
				</button>
				<div class="m-reseller-result__person js-is-visible">
					<div class="m-reseller-result__content">
						<div class="m-reseller-result__header">
							<div class="m-reseller-result__image">
								<svg role="img" class="a-icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-person-circle"></use>
								</svg>
							</div>
							<p class="m-reseller-result__name"></p>
						</div>
						<ul class="m-reseller-result__details u-list-unstyled"></ul>
						<a class="m-reseller-result__link" href="#" target="_blank" rel="noopener noreferrer">
							Återförsäljarens hemsida
							<svg role="img" class="a-icon a-icon--tiny" title="icon-exit-site">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-exit-site"></use>
							</svg>
						</a>
					</div>
					<div class="m-reseller-result__actions">
						<button class="a-btn a-btn--flat-top js-go-to-target" id="distributor_id" data-target="signup-confirm" type="button" name="distributor_id" value="">Välj</button>
					</div>
				</div>
			</div>

			<div class="o-reseller__result-list">
				<div class="o-reseller__result-summary">
					<p class="o-reseller__result-summary-text">
						<span class="o-reseller__result-keyword"></span>
						<span class="o-reseller__result-count"></span> återförsäljare
					</p>
					<button class="o-reseller__result-btn a-btn a-btn--narrow a-btn--transparent js-toggle-resellers js-is-active">
						<svg role="img" class="a-icon a-icon--small" title="icon-down">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-down"></use>
						</svg>
						<span class="u-visually-hidden">Toggle result</span>
					</button>
				</div>
				<ul class="o-reseller__result-resellers u-list-unstyled js-is-visible"></ul>
			</div>
		</div>
	</div>
</div>
