{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section class="u-section-spacing u-section-spacing--large">
		<div class="u-container u-container--narrow">
			{{render '@header-section--category' headerSectionData}}
		</div>
	</section>

	<section class="u-section-spacing u-section-spacing--only-bottom">
		<div class="u-container">
			{{ render '@job-positions-list' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
