/* ==========================================================================
   Utilities - Background colors
   ========================================================================== */

.u-bg {
	/* Theme colors */
	&-yellow {
		background: $color-yellow;

		&--light {
			background: $color-yellow--light;
		}

		&--transparent {
			background: $color-yellow--transparent;
		}
	}

	&-teal {
		background: $color-teal;

		&--light {
			background: $color-teal--light;
		}

		&--transparent {
			background: $color-teal--transparent;
		}
	}

	&-green {
		background: $color-green;

		&--light {
			background: $color-green--light;
		}

		&--transparent {
			background: $color-green--transparent;
		}
	}

	&-brown {
		color: $color-white;
		background: $color-brown--dark;

		&--light {
			background: $color-brown--light;
		}

		&--transparent {
			background: $color-brown--transparent;
		}
	}

	&-navy {
		color: $color-white;
		background: $color-navy;

		&--light {
			background: $color-navy--light;
		}

		&--transparent {
			background: $color-navy--transparent;
		}
	}

	/* Neutral colors */
	&-white {
		background: $color-white;
	}

	&-white-transparent {
		background-color: $transparent-white;
	}

	&-lighter {
		background: $color-lighter;
	}

	&-light {
		background-color: $color-light;
	}

	&-dark {
		background-color: $color-dark;
	}

	&-darker {
		color: $color-white;
		background-color: $color-darker;

		&--transparent {
			background: $color-darker--transparent;
		}
	}

	&-darkest {
		color: $color-white;
		background-color: $color-darkest;
	}

	&-black {
		color: $color-white;
		background-color: $color-black;
	}
}

// Hover effects if class is on a-tag or button
.a-btn,
a,
button,
input[type="button"],
input[type="submit"] {
	&[class*="u-bg"] {
		transition: background $transition-duration $transition-ease,
		color $transition-duration $transition-ease;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}

	/* Theme colors */
	&.u-bg-yellow,
	&.u-bg-yellow--light,
	&.u-bg-yellow--transparent {
		&:hover,
		&:focus {
			background: $color-yellow--dark;
		}
	}

	&.u-bg-teal,
	&.u-bg-teal--light,
	&.u-bg-teal--transparent {
		&:hover,
		&:focus {
			background: $color-teal--dark;
		}
	}

	&.u-bg-green,
	&.u-bg-green--light,
	&.u-bg-green--transparent {
		&:hover,
		&:focus {
			background: $color-green--dark;
		}
	}

	&.u-bg-brown,
	&.u-bg-brown--light,
	&.u-bg-brown--transparent {
		&:hover,
		&:focus {
			color: $color-white;
			background: $color-brown--dark;
		}
	}

	&.u-bg-navy,
	&.u-bg-navy--light,
	&.u-bg-navy--transparent {
		&:hover,
		&:focus {
			color: $color-white;
			background: $color-navy--dark;
		}
	}

	/* Neutral */
	&.u-bg-white {
		&:hover,
		&:focus {
			background: $color-lighter;
		}
	}

	&.u-bg-white-transparent {
		&:hover,
		&:focus {
			background: $color-white;
		}
	}

	&.u-bg-lighter {
		&:hover,
		&:focus {
			background: $color-white;
		}
	}

	&.u-bg-light {
		&:hover,
		&:focus {
			background: $color-lighter;
		}
	}

	&.u-bg-dark {
		&:hover,
		&:focus {
			background: $color-lighter;
		}
	}

	&.u-bg-darker,
	&.u-bg-darker--transparent {
		&:hover,
		&:focus {
			color: $color-white;
			background: $color-darkest;
		}
	}

	&.u-bg-darkest {
		&:hover,
		&:focus {
			color: $color-white;
			background: $color-black;
		}
	}

	&.u-bg-black {
		&:hover,
		&:focus {
			color: $color-white;
			background: $color-darkest;
		}
	}
}
