/* ==========================================================================
   Utilities - Container
   ========================================================================== */

.u-container {
	max-width: $max-width;
	margin-right: $spacing-medium;
	margin-left: $spacing-medium;

	@media screen and (min-width: $bp-xl) {
		margin-right: auto;
		margin-left: auto;
	}

	/* Extra wide max width, always centered */
	&--wide {
		max-width: $max-width--wide;
		margin-right: auto;
		margin-left: auto;
	}

	/* Narrow max width */
	&--narrow {
		max-width: $max-width--narrow;
		margin-right: $spacing-small;
		margin-left: $spacing-small;

		@media screen and (min-width: $bp-md) {
			margin-right: auto;
			margin-left: auto;
		}
	}

	&--xs {
		max-width: $max-width--xs;

		@media screen and (min-width: $bp-xs) {
			margin-right: auto;
			margin-left: auto;
		}
	}

	+ [class*="u-container"] {
		margin-top: $spacing-medium;

		@media screen and (min-width: $bp-md) {
			margin-top: $spacing-large;
		}
	}
}
