/* ==========================================================================
   Utilities - Object fit
   ========================================================================== */

.u-object-fit {
	position: relative;

	&--contain {
		[class*="__image"] {
			object-fit: contain;
		}
	}

	&__image {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

/* Fallback for object fit */
.no-objectfit,
.no-object-fit {
	.u-object-fit {
		&__container {
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		&__image {
			position: static;
			opacity: 0;
			visibility: hidden;
		}
	}
}
