/* ==========================================================================
   Utilities - Spacing
   ========================================================================== */

.u-section-border {
	border-top: 1px solid $color-light;
	border-bottom: 1px solid $color-light;
}
