/* ==========================================================================
   Utilities - Spacing
   ========================================================================== */

.u-section-spacing {
	padding-top: $spacing-medium;
	padding-bottom: $spacing-medium;

	@media screen and (min-width: $bp-md) {
		padding-top: $spacing-large;
		padding-bottom: $spacing-large;
	}

	/* Add only spacing at the top of the section */
	&--only-top {
		padding-top: $spacing-medium;
		padding-bottom: 0;

		@media screen and (min-width: $bp-md) {
			padding-top: $spacing-large;
		}
	}

	/* Add only spacing at the bottom of the section */
	&--only-bottom {
		padding-top: 0;
		padding-bottom: $spacing-medium;

		@media screen and (min-width: $bp-md) {
			padding-bottom: $spacing-large;
		}
	}

	/* Add extra large spacing at the top and bottom of the section */
	&--large {
		padding-top: $spacing-large;
		padding-bottom: $spacing-large;

		@media screen and (min-width: $bp-md) {
			padding-top: $spacing-x-large;
			padding-bottom: $spacing-x-large;
		}
	}

	/* Add extra large spacing at the bottom of the section */
	&--large-bottom {
		padding-bottom: $spacing-large;

		@media screen and (min-width: $bp-md) {
			padding-bottom: $spacing-x-large;
		}
	}
	/* Remove Spacing - TODO: is this needed or can't you just omit the spacing class? */
	&--none {
		padding-top: 0;
		padding-bottom: 0;
	}
}
