<div class="u-section-spacing u-container">
{{#each colors}}
	<div>
		<h4>{{ name }}</h4>
		<ul class="styleguide-colors u-list-unstyled">
			{{#each colorInfo}}
				<li class="styleguide-color">
					<span class="styleguide-color-swatch" style="color: {{hex}};"></span>
					<span class="styleguide-color-name">{{variable}}: {{hex}};</span>
				</li>
			{{/each}}
		</ul>
	</div>
{{/each}}
</div>
