<div class="o-hero">
	{{#if headline}}
	<div class="o-hero__wrapper{{class}}">
		<div class="o-hero__content">
			{{#if headline}}
				{{render '@heading-2' headline}}
			{{/if}}
			{{#if paragraph}}
				{{render '@paragraph' paragraph}}
			{{/if}}
		</div>
	</div>
	{{/if}}
	{{render '@object-fit' imageData}}
</div>
