/* ==========================================================================
   Global elements
   ========================================================================== */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in IE on Windows Phone */
	-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
	-webkit-font-smoothing: antialiased;
	font-family: $font-stack;
	@include font-size($base-font-sizes);
	color: $color-darkest;
	line-height: $base-line-height;
}

body {
	margin: 0; /* Remove the margin in all browsers */
}

.flexboxlegacy {
	body {
		display: flex; /* For sticky footer */
		flex-direction: column;
	}
}

html,
body {
	height: 100%; /* For sticky footer */
}

main {
	flex: 1 0 auto; /* For sticky footer */
}

img {
	max-width: 100%;
	height: auto;
}

svg:not(:root) {
	overflow: hidden;
}
