/* ==========================================================================
   Global links
   ========================================================================== */

/**
  * 1. Remove the gray background on active links in IE 10.
  * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */

	&:active,
	&:hover {
		outline-width: 0;
	}
}
