/* ==========================================================================
   Global table
   ========================================================================== */

table {
	width: 100%;
	border: 1px solid $color-dark;

	&:not(:first-child) {
		margin-top: $spacing-medium;
	}
}

td {
	padding: $spacing-small;
}
