<div class="m-header-section">
	{{ render '@heading-1' headline }}

	{{#if productCount}}
		<p class="m-header-section__count">{{ productCount }}</p>
	{{/if}}

	<p class="m-header-section__description">
	{{#if description}}
		{{ description }}
	{{/if}}
	{{#if tags }}
		<span class="m-header-section__tags">
			{{#each tags}}
				{{ render '@tag' tagData }}
			{{/each}}
		</span>
	{{/if}}
	</p>
</div>

