{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section class="u-section-spacing u-section-spacing--only-bottom">
		<div class="u-container u-container--wide">
			{{render '@hero'}}
		</div>
	</section>

	{{#if tags }}
		<section class="u-section-spacing u-section-spacing--only-top">
		<div class="u-container u-container--narrow">
			{{#each tags}}
				{{ render '@tag' tagData }}
			{{/each}}
		</div>
		</section>
	{{/if}}

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@intro--left' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-posts' gridItems}}
		</div>
	</section>
</main>

{{ render '@footer' }}
