/* ==========================================================================
   Styleguide preview specific classes - not to be used in production
   ========================================================================== */

.styleguide-wrapper {
	display: flex;
}

.styleguide-item {
	flex: 1 0 23.5%;
	margin-bottom: 2%;
	padding: 0.3em;
	background-color: #ebebeb;
	border-radius: .4em;

	&:not(:nth-child(4n+1)) {
		margin-left: 2%;
	}

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		background: #f7f7f7;
	}
}

/* Color swatches */
.styleguide-colors {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.styleguide-color {
	flex-basis: 23.5%;
	margin-bottom: 2%;
	padding: 0.3em;
	border: 1px solid #d8d8d8;
	border-radius: .4em;

	&:not(:nth-child(4n+1)) {
		margin-left: 2%;
	}
}

.styleguide-color-swatch {
	display: block;
	height: 0;
	padding-bottom: 40%;
	margin-bottom: .3em;
	border-radius: .3em;
	background-color: currentColor;
}

.styleguide-color-name {
	font-size: 14px;
}

/* Example for object fit */
.styleguide-example-image {
	height: 100%;
}

/* Divider */
.styleguide-divider {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #d8d8d8;
}

/* Font sizes */
.smaller,
.smallest {
	font-size: 0.875rem;
}

.tiny {
	font-size: 0.75rem;
}

@media (min-width: 769px) {
	.smaller {
		font-size: 0.778rem;
	}

	.smallest,
	.tiny {
		font-size: 0.667rem;
	}
}

/* Transition */
.styleguide-transition {
	padding: 20px;
	background-color: #d8d8d8;

	&:hover,
	&:focus {
		background-color: #ebebeb;
	}

	&--ease {
		transition: background-color ease-in-out .25s;
	}

	&--fast {
		transition: background-color ease-in-out .15s;
	}

	+ .styleguide-transition {
		margin-top: 20px;
	}
}
