<article class="m-article">
	{{ render '@heading-2' headline }}
	{{ render '@preamble' paragraph }}
	{{ render '@paragraph' paragraph}}
	{{ render '@paragraph' paragraph }}
	{{ render '@heading-3' headline }}
	{{ render '@paragraph' paragraph }}
	{{ render '@heading-4' headline }}
	{{ render '@paragraph' paragraph }}
	{{ render '@heading-5' headline }}
	{{ render '@paragraph' paragraph }}
	{{ render '@heading-6' headline }}
	{{ render '@paragraph' paragraph }}
</article>
