<div class="o-grid{{#if col-4 }} o-grid--4-col {{/if}}">
	{{#if headline}}
		<div class="o-grid__title">
			{{render '@heading-3' headline}}
		</div>
	{{/if}}

	<div class="o-grid__wrapper">
		{{#each blocks}}
			<div class="o-grid__block">
				{{render '@post-item' this}}
			</div>
		{{/each}}
	</div>
</div>
