<footer class="o-footer u-bg-lighter" role="contentinfo">
	<div class="o-footer__header">
		{{ render '@logo--logo---wide' }}
	</div>

	<div class="o-footer__row u-container">
		<div class="o-footer__col">
			<div class="o-footer__content">
				<p class="o-footer__title">Forever Living Products Scandinavia AB</p>
				<adress>
					<p>
						Kvarnbygatan 2 B<br/>
						431 34 Mölndal
					</p>
					<p>Telefon 031-727 80 00</p>
					<p><a href="mailto:scandinavia@foreverliving.se">scandinavia@foreverliving.se</a></p>
				</adress>
			</div>
		</div>

		<div class="o-footer__col">
			<div class="o-footer__content">
				<p class="o-footer__title">Våra sociala medier</p>
				{{#if social-links}}
					<ul class="m-social-media-list u-list-unstyled">
						{{#each social-links }}
							<li class="m-social-media-list__item">
								<a class="m-social-media-list__link" href="{{ link }}" target="_blank">
									{{ render '@icon' this }}
									<span class="u-visually-hidden">{{ name }}</span>
								</a>
							</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>

			<div class="o-footer__content">
				<p class="o-footer__title">Prenumerera på vårt nyhetsbrev</p>
				<form class="o-form" action="#">
					<div class="m-form-item m-form-item--relative">
						<label class="m-form__label a-label u-visually-hidden" for="">Sök</label>
						{{ render '@input-fields' fieldData }}
						<button class="m-form-item__btn a-btn a-btn--narrow a-btn--flat-left u-bg-darker">Skicka
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="o-footer__footer u-bg-darker">
		{{ render '@secondary-navigation' }}
	</div>
</footer>
