<footer class="o-footer u-bg-lighter" role="contentinfo">
	<div class="o-footer__header">
		{{ render '@logo--logo---wide' }}
		<p class="o-footer__meta-data">Independent Forever Business Ower</p>
	</div>

	<div class="o-footer__row u-container">
		<div class="o-footer__col">
			<div class="o-footer__content">
				<p class="o-footer__title">Forever Living Products Scandinavia AB</p>
				<adress>
					<p>
						Kvarnbygatan 2 B<br/>
						431 34 Mölndal
					</p>
					<p>Telefon 031-727 80 00</p>
					<p><a href="mailto:scandinavia@foreverliving.se">scandinavia@foreverliving.se</a></p>
				</adress>
			</div>
		</div>
	</div>

	<div class="o-footer__footer u-bg-darker">
		<div class="u-container u-container--wide">
			<nav class="m-secondary-menu">
				<ul class="m-secondary-menu__list u-list-unstyled">
					{{#each links }}
						<li class="m-secondary-menu__item">
							<a class="m-secondary-menu__link" href="{{ url }}">{{ name }}</a>
						</li>
					{{/each}}
				</ul>
			</nav>
		</div>
	</div>
</footer>
