<footer class="o-footer u-bg-lighter" role="contentinfo">
	<div class="o-footer__header">
		{{ render '@logo--logo---wide' }}
		<p class="o-footer__meta-data">Independent Forever Business Ower</p>
	</div>

	<div class="o-footer__footer u-bg-darker">
		<nav class="m-secondary-menu">
			<ul class="m-secondary-menu__list u-list-unstyled">
				{{#each links }}
					<li class="m-secondary-menu__item">
						<a class="m-secondary-menu__link" href="{{ url }}">{{ name }}</a>
					</li>
				{{/each}}
			</ul>
		</nav>
	</div>
</footer>
