<nav class="m-secondary-menu">
	<ul class="m-secondary-menu__list u-list-unstyled">
		{{#each links }}
			<li class="m-secondary-menu__item">
				<a class="m-secondary-menu__link" href="{{ url }}">{{ name }}</a>
			</li>
		{{/each}}
		<li class="m-secondary-menu__item">
			<a class="m-secondary-menu__link" href="{{ url }}">
				{{ render '@icon' klarna }}
			</a>
		</li>
	</ul>
</nav>
