<div class="m-product-block">
	<div class="m-product-block__image">
		{{render '@image' imageData}}
	</div>

	<div class="m-product-block__info">
		{{render '@paragraph' description}}
		<div class="m-product-block__info-data">
			{{#each metaData}}
				<p><strong>{{label}}</strong> {{value}}</p>
			{{/each}}
		</div>
	</div>
</div>
