<div class="m-category">
	<a class="m-category__wrapper" href="/components/preview/product-category">
		{{#if image}}
			{{render '@image' image}}
		{{/if}}
		<div class="m-category__content">
			{{#if headline.text}}
				{{render '@heading-6' headline}}
			{{/if }}
			{{#if paragraph.text}}
				{{render '@paragraph' paragraph}}
			{{/if}}
		</div>
	</a>
</div>
