<div class="u-section-spacing u-container">
	<ul class="styleguide-colors u-list-unstyled">
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-yellow"></span>
			<span class="styleguide-color-name">u-bg-yellow</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-yellow--light"></span>
			<span class="styleguide-color-name">u-bg-yellow--light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-yellow--transparent"></span>
			<span class="styleguide-color-name">u-bg-yellow--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-teal"></span>
			<span class="styleguide-color-name">u-bg-teal</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-teal--light"></span>
			<span class="styleguide-color-name">u-bg-teal--light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-teal--transparent"></span>
			<span class="styleguide-color-name">u-bg-teal--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-navy"></span>
			<span class="styleguide-color-name">u-bg-navy</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-navy--light"></span>
			<span class="styleguide-color-name">u-bg-navy--light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-navy--transparent"></span>
			<span class="styleguide-color-name">u-bg-navy--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-green"></span>
			<span class="styleguide-color-name">u-bg-green</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-green--light"></span>
			<span class="styleguide-color-name">u-bg-green--light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-green--transparent"></span>
			<span class="styleguide-color-name">u-bg-green--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-brown"></span>
			<span class="styleguide-color-name">u-bg-brown</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-brown--light"></span>
			<span class="styleguide-color-name">u-bg-brown--light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-brown--transparent"></span>
			<span class="styleguide-color-name">u-bg-brown--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-white"></span>
			<span class="styleguide-color-name">u-bg-white</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-lighter"></span>
			<span class="styleguide-color-name">u-bg-lighter</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-light"></span>
			<span class="styleguide-color-name">u-bg-light</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-dark"></span>
			<span class="styleguide-color-name">u-bg-dark</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-darker"></span>
			<span class="styleguide-color-name">u-bg-darker</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-darker--transparent"></span>
			<span class="styleguide-color-name">u-bg-darker--transparent</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-darkest"></span>
			<span class="styleguide-color-name">u-bg-darkest</span>
		</li>
		<li class="styleguide-color">
			<span class="styleguide-color-swatch u-bg-black"></span>
			<span class="styleguide-color-name">u-bg-black</span>
		</li>
	</ul>
</div>
