{{#each faq}}
	<div class="o-faq">
		<div class="o-faq__header js-toggle-content" aria-controls="{{#if ../subject }}faq-{{ ../subject}}-{{@key}}{{else}}faq-{{@key}}{{/if}}">
			{{render '@heading-6' question}}
			<div class="o-faq__header-icon"></div>
		</div>
		<div class="o-faq__content" id="{{#if  ../subject  }}faq-{{ ../subject }}-{{@key}}{{else}}faq-{{@key}}{{/if}}">
			{{render '@paragraph' answer}}
		</div>
	</div>
{{/each}}
