<header class="o-header" role="banner">
	<div class="o-header__actions-wrapper">
		<div class="u-container u-container--wide">
			<a class="o-header__logo o-header__logo--small" href="/" aria-label="Gå till Forever living products startsida">
				{{ render '@logo--logo---small' }}
			</a>
			<ul class="o-header__actions u-list-unstyled">
				<li class="o-header__action-item o-header__action-item--has-child o-header__action-item--hidden-md">
					<button class="o-header__action a-btn a-btn--transparent js-toggle-menu-content" aria-label="Ändra till ett annat språk" aria-controls="language-menu">
						{{ render '@icon' newsIconData }}
						Land
					</button>
					<ul class="m-language-menu o-header__action-sub-item u-list-unstyled" id="language-menu">
						{{#each languageMenu }}
							<li class="m-language-menu__item">
								<a class="m-language-menu__link" href="{{ link }}">{{ name }}</a>
							</li>
						{{/each}}
					</ul>
				</li>
				<li class="o-header__action-item">
					<a class="o-header__action o-header__action--link" href="/">
						{{ render '@icon' userIconData }}
						Logga in
					</a>
				</li>
				<li class="o-header__action-item o-header__action-item--visible-md">
					<button class="o-header__action a-btn a-btn--transparent js-toggle-menu-content" aria-label="Visa huvudnavigation" aria-controls="primary-navigation">
						{{ render '@icon' menuIconData }}
						Meny
					</button>
				</li>
			</ul>
			<form class="o-header__search m-form m-form--simple-action" id="search-form" role="search" action="/components/preview/search-result-page">
				<div class="m-form__item m-form__item--relative">
					<label class="m-form__label a-label u-visually-hidden" for="">Sök</label>
					{{ render '@input-fields' fieldData }}
					<button class="m-form__btn m-form__btn--absolute a-btn a-btn--narrow a-btn--flat-left">
						{{ render '@icon' searchIconData }}
						<span class="u-visually-hidden">Sök</span>
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="o-header__wrapper u-container u-container--wide">
		{{ render '@primary-navigation' }}
		<a class="a-site-name" href="/" aria-label="Go to start" >
			Site name
			<span class="o-header__meta">Meta data</span></a>
	</div>
</header>
