<div class="styleguide-transition styleguide-transition--ease">Transition ease: ease-in-out. Default transition duration: 0.25s. (hover to see)</div>
<div class="styleguide-transition styleguide-transition--fast">Transition ease: ease-in-out. Fast transition duration: 0.15s. (hover to see)</div>
