{{#if promos}}
	<div class="o-promo">
		{{#each promos}}
			<a href="{{link.path}}" class="o-promo__item{{#if large}} o-promo__item--large{{/if}} u-object-fit">
				<div class="o-promo__bg u-object-fit__container">
					{{render '@image' imageData}}
				</div>
				{{#if link.path}}
					<span class="o-promo__action a-btn a-btn--narrow">
						{{link.text}}
						{{render '@icon' icon}}
					</span>
				{{/if}}
			</a>
		{{/each}}
	</div>
{{/if}}
