{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section>
		<div class="u-container u-container--wide">
			{{render '@hero' heroData }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@heading-1' headline }}
			{{ render '@paragraph' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-employees' gridData }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@grid-employees' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
