<form class="o-form js-form-validation" action="/components/preview/submitted-form">
	{{#each formItems}}
		{{ render '@form-item' this}}
	{{/each}}

	<div class="m-form-item">
		{{ render '@input-label' textareaLabel}}
		{{ render '@input-textarea' textareaData}}
	</div>

	<div class="m-form-item">
		{{ render '@input-checkbox-custom' checkboxData}}
	</div>

	<div class="m-form-item">
		<button class="a-btn a-btn--center js-validate-form" type="submit" disabled>Send message</button>
	</div>

	<div class="o-form__validation js-form-response js-is-hidden"></div>
</form>
