<form class="o-form js-form-validation" action="/components/preview/submitted-form">
	{{#each formItems}}
		{{render '@form-item' this}}
	{{/each}}

	<div class="o-form__group">
		<div class="m-form-item">
			<label class="a-label" for="type-text-1">Half</label>
			<input class="a-input-field" id="type-text-1" type="text" placeholder="Placeholder" name="type-text" value="">
		</div>
		<div class="m-form-item">
			<label class="a-label" for="type-text-2">Half</label>
			<input class="a-input-field" id="type-text-2" type="text" placeholder="Placeholder" name="type-text" value="">
		</div>
	</div>

	<div class="o-form__group">
		<div class="m-form-item m-form-item--1-4">
			<label class="a-label" for="type-text-3">One fourth</label>
			<input class="a-input-field" id="type-text-3" type="text" placeholder="Placeholder" name="type-text" value="">
		</div>
		<div class="m-form-item m-form-item--3-4">
			<label class="a-label" for="type-text-4">Three fourths</label>
			<input class="a-input-field" id="type-text-4" type="text" placeholder="Placeholder" name="type-text" value="">
		</div>
	</div>

	<div class="m-form-item">
		{{render '@input-label' textareaLabel}}
		{{render '@input-textarea' textareaData}}
	</div>

	<div class="m-form-item">
		{{render '@input-radio-custom' radioData}}
	</div>

	<div class="m-form-item">
		<label class="a-label">Custom file upload</label>
		{{render '@input-file-upload-custom'}}
	</div>

	<div class="m-form-item">
		<label class="a-label">Select</label>
		{{render '@input-select'}}
	</div>

	<div class="m-form-item">
		{{render '@input-checkbox-custom' checkboxData}}
	</div>

	<div class="m-form-item">
		<button class="a-btn a-btn--center js-validate-form" type="submit" disabled>Send message</button>
	</div>

	<div class="o-form__validation js-form-response js-is-hidden"></div>
</form>
