<textarea id="{{ id }}" placeholder="{{ placeholder }}" name="{{ name }}" value="{{ value }}" rows="{{ rows }}" cols="{{ cols }}" {{#if required }} required="required" aria-required="true"{{/if }}></textarea>
