<div class="m-content-blurb">
	{{#if videoData}}
		<div class="m-content-blurb__media m-content-blurb__media--video">
			{{render '@video' videoData}}
		</div>
	{{else}}
		{{#if imageData}}
			{{render '@object-fit' imageData}}
		{{/if}}
	{{/if}}

	<div class="m-content-blurb__content">
		{{#if heading}}
			<div class="m-content-blurb__header">
				{{render '@heading-5' heading}}

				{{#if toggleContent}}
					<button class="m-content-blurb__btn a-btn a-btn--transparent js-toggle-content" aria-controls="{{text-id}}">
						{{render '@icon' iconData}}
						<span class="u-visually-hidden">Visa text</span>
					</button>
				{{/if}}
			</div>
		{{/if}}

		{{#if paragraph}}
			{{#if text-id}}
				<div class="m-content-blurb__text m-content-blurb__text--hidden" id="{{text-id}}">
					{{render '@paragraph' paragraph}}
					{{#if link}}
						<a href="{{link.path}}" class="m-content-blurb__link">{{link.text}} {{ render '@icon' linkIconData}}</a>
					{{/if}}
				</div>
			{{else}}
				<div class="m-content-blurb__text">
					{{render '@paragraph' paragraph}}
					{{#if link}}
						<a href="{{link.path}}" class="m-content-blurb__link">{{link.text}} {{ render '@icon' linkIconData}}</a>
					{{/if}}
				</div>
			{{/if}}
		{{/if}}
	</div>
</div>
