{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@intro--left' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{ render '@grid-category' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
