{{#if link}}
	<a href="{{link}}" class="a-btn {{ modifier }} {{ class }}" id="{{id}} {{ attributes }}">{{ text }}</a>
{{else}}
	<button class="a-btn {{ modifier }} {{ class }}" id="{{id}}" {{ attributes }}>{{ text }}</button>
{{/if}}
