<div class="o-reseller">
	<div class="o-reseller__search u-bg-lighter">
		{{ render '@reseller-search' }}
	</div>

	<div class="o-reseller__result">
		{{render '@map-reseller'}}

		<div class="o-reseller__result-wrapper">
			<div class="m-reseller-result o-reseller__result-selected">
				<button class="m-reseller-result__close js-close-reseller a-btn a-btn--transparent">
					<svg role="img" class="a-icon a-icon--tiny" title="icon-close">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-close"></use>
					</svg>
					<span class="u-visually-hidden">Close result</span>
				</button>
				<div class="m-reseller-result__person js-is-visible">
					<div class="m-reseller-result__content">
						<div class="m-reseller-result__header">
							<div class="m-reseller-result__image">
								<svg role="img" class="a-icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-person-circle"></use>
								</svg>
							</div>
							<p class="m-reseller-result__name"></p>
						</div>
						<div class="m-reseller-result__desc">
							<p></p>
						</div>
						<ul class="m-reseller-result__details u-list-unstyled"></ul>
						<a class="m-reseller-result__link" href="#" target="_blank" rel="noopener noreferrer">
							Återförsäljarens hemsida
							<svg role="img" class="a-icon a-icon--tiny" title="icon-exit-site">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-exit-site"></use>
							</svg>
						</a>
					</div>
					<div class="m-reseller-result__actions">
						<button class="a-btn a-btn--flat-top js-show-form">Kontakta</button>
					</div>
				</div>

				<div class="m-reseller-result__form">
					<div class="m-reseller-result__content">
						<div class="m-reseller-result__header">
							<div class="m-reseller-result__image">
								<svg role="img" class="a-icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-person-circle"></use>
								</svg>
							</div>
							<p class="m-reseller-result__name">Kontakta <span>Förnamn Efternamn</span></p>
						</div>
						<form class="m-reseller-result__contact m-form" id="reseller-contact" action="#">
							<input contact-dist-id="" type="hidden" name="distributor_id" id="distributor_id" value="">
							<div class="m-form-item m-form-item--narrow">
								<label class="a-label a-label--block" for="type-select">Ärende</label>
								<select id="type-select">
									<option selected disabled>Välj typ av ärende</option>
									<option value="value-1">Köp produkt</option>
									<option value="value-2">Bli återförsäljare</option>
									<option value="value-3">Övrigt</option>
								</select>
							</div>
							<div class="m-form-item m-form-item--narrow">
								<label class="a-label a-label--block" for="type-name">Namn *</label>
								<input class="" id="type-name" type="text" placeholder="Skriv in ditt namn" name="type-text" value="" required="required" aria-required="true">
							</div>
							<div class="m-form-item m-form-item--narrow">
								<label class="a-label a-label--block" for="type-email">E-post</label>
								<input id="type-email" type="email" placeholder="Skriv in din e-postadress" name="type-email" value="">
							</div>
							<div class="m-form-item m-form-item--narrow">
								<label class="a-label a-label--block" for="type-textarea">Meddelande</label>
								<textarea id="type-textarea" placeholder="" name="type-textarea" value="" rows="3" cols=""></textarea>
							</div>
							<div class="m-form__validation"></div>
						</form>
					</div>
					<div class="m-reseller-result__actions">
						<button class="a-btn a-btn--flat-top a-btn--flat-right u-bg-darker js-hide-form">Avbryt</button>
						<input class="a-btn a-btn--flat-top a-btn--flat-left" form="reseller-contact" type="submit" value="Skicka">
					</div>
				</div>
			</div>

			<div class="o-reseller__result-list">
				<div class="o-reseller__result-summary">
					<p class="o-reseller__result-summary-text">
						<span class="o-reseller__result-keyword"></span>
						<span class="o-reseller__result-count"></span> återförsäljare
					</p>
					<p class="o-reseller__result-no-result-text">
						0 återförsäljare hittade. Försök igen.
					</p>
					<button class="o-reseller__result-btn a-btn a-btn--narrow a-btn--transparent js-toggle-resellers js-is-active">
						<svg role="img" class="a-icon a-icon--small" title="icon-down">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../symbol/svg/sprite.symbol.svg#icon-down"></use>
						</svg>
						<span class="u-visually-hidden">Toggle result</span>
					</button>
				</div>
				<ul class="o-reseller__result-resellers u-list-unstyled js-is-visible"></ul>
			</div>
		</div>
	</div>
</div>
