<div class="u-container" style="width: 100%; background-color: #f7f7f7; padding: 20px;">This element has the utility class <i>.u-container</i> and has a max-width of 1200px</div>
<div class="u-container u-container--wide" style="width: 100%; background-color: #f7f7f7; padding: 20px;">This element has the modifier <i>.u-container--wide</i> and has a max-width of 1480px</div>
<div class="u-container u-container--narrow" style="width: 100%; background-color: #f7f7f7; padding: 20px;">This element has the modifier <i>.u-container--narrow</i> and has a max-width of 720px</div>
<div class="u-container u-container--xs" style="width: 100%; background-color: #f7f7f7; padding: 20px;">This element has the modifier <i>.u-container--xs</i> and has a max-width of 480px</div>

