<div class="m-product-item">
	<a class="m-product-item__link m-product-item__content-wrapper" href="/components/preview/product">
		{{#if imageData}}
			<div class="m-product-item__image">
				{{render '@image' imageData}}
			</div>
		{{/if}}

		<div class="m-product-item__content">
			{{#if headline}}
				{{render '@heading-5' headline}}
			{{/if}}

			{{#if description}}
				<p class="m-product-item__desc">{{ description }}</p>
			{{/if}}

			{{#if metaData}}
				{{#each metaData}}
					<p class="m-product-item__meta-data">
						<span class="m-product-item__meta-label">{{label}}</span>
						{{value}}
					</p>
				{{/each}}
			{{/if}}
		</div>
		<span class="m-product-item__btn a-btn a-btn--narrow">Läs mer</span>
	</a>

	{{#if badgeData}}
		{{render '@badge' badgeData}}
	{{/if}}
</div>
