<input class="m-checkbox-custom {{ class }}" id="{{ id }}" type="checkbox" name="type-checkbox" value="{{ value }}" {{#if required }}required="required" aria-required="true"{{/if }}>
<label for="{{ id }}">{{label}}</label>
