<div class="m-post-item">
	<a class="m-post-item__content-wrapper" href="/components/preview/blog-post">
		{{#if imageData}}
			<div class="m-post-item__image">
				{{render '@image' imageData}}
			</div>
		{{/if}}

		<div class="m-post-item__content">
			{{#if headline}}
				{{render '@heading-5' headline}}
			{{/if}}
		</div>
	</a>

	{{#if tags }}
	<div class="m-post-item__tags">
		{{#each tags}}
			{{ render '@tag' tagData }}
		{{/each}}
	</div>
	{{/if}}
</div>
