<!doctype html>
<html lang="">
	<head>
		<title>Preview layout - {{ _target.label }}</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="./../../styles/styleguide.css" rel="stylesheet">
		<link href="./../../styles/main.css" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="./../../images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./../../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./../../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="./../../images/favicons//site.webmanifest">
		<link rel="mask-icon" href="./../../images/favicons//safari-pinned-tab.svg" color="#00b2a9">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>

		{{{ yield }}}

		<script src="./../../js/app.js"></script>
	</body>
</html>
