<div class="m-primary-sub-navigation__promo">
	{{#each promoItems }}
		<div class="m-primary-sub-navigation__promo-item">
			{{#if imageData}}
			<div class="m-primary-sub-navigation__promo-img u-object-fit">
				<div class="u-object-fit__container">
					{{render '@image' imageData }}
				</div>
			</div>

			{{/if}}
			<div class="m-primary-sub-navigation__promo-content">
				{{#if title}}
					<p class="m-primary-sub-navigation__promo-title">{{ title }}</p>
				{{/if}}
				{{#if description}}
					<p class="m-primary-sub-navigation__promo-desc">{{ description }}</p>
				{{/if}}
				{{#if link}}
					<a class="m-primary-sub-navigation__promo-link" href="{{ link }}">Läs mer om produkten</a>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
