{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section>
		<div class="u-container u-container--wide">
			{{render '@hero'}}
		</div>
	</section>

	<section class="u-section-spacing--large u-bg-lighter">
		<div class="u-container u-container--narrow">
			{{render '@intro--left' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@heading-2' headline }}
			{{ render '@preamble' paragraph }}
			{{ render '@paragraph' paragraph}}
			{{ render '@paragraph' paragraph }}
			{{ render '@heading-3' headline }}
			{{ render '@paragraph' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--wide">
			{{render '@image'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@heading-2' headline }}
			{{ render '@paragraph' paragraph}}
			{{ render '@paragraph' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing u-bg-lighter">
		<div class="u-container u-container--narrow">
			{{ render '@blockquote-block' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--wide">
			{{ render '@image-slider' }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@paragraph' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@content-blurb-list'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container">
			{{render '@cta-wrapper--two-items'}}
		</div>
	</section>
</main>

{{ render '@footer' }}
