<div class="m-video {{ class }} {{ modifier }}" data-video-type="{{ type }}" data-video-id="{{ id }}">
	<div class="m-video__poster u-object-fit">
		<svg role="img" class="a-icon a-icon--inverted m-video__poster-icon" title="play">
			<use xlink:href="../../symbol/svg/sprite.symbol.svg#icon-play"/>
		</svg>
		{{#if image }}
			<div class="u-object-fit__container">
				<img class="a-image u-object-fit__image m-video__poster-image" src="../../images/{{ image }}"/>
			</div>
		{{else}}
			<div class="m-video__poster--none"></div>
		{{/if}}
	</div>
	{{#if image }}
		<div class="m-video__iframe"></div>
	{{else}}
		<div class="m-video__iframe m-video__iframe--no-placeholder"></div>
	{{/if}}
</div>
