<div class="m-reseller-search">
	<div class="m-reseller-search__content u-center-text">
		{{#if iconData}}
			{{ render '@icon' iconData }}
		{{/if}}
		{{#if headline}}
			{{ render '@heading-4' headline }}
		{{/if}}
		{{#if paragraph}}
			{{ render '@paragraph' paragraph }}
		{{/if}}
	</div>
	{{#if locationBtn }}
		<div class="m-reseller-search__item m-reseller-search__item--separator">
			{{ render '@buttons' locationBtn }}
		</div>
	{{/if }}
	{{#if locationSearchField }}
		<div class="m-reseller-search__item">
			{{#if locationSearchLabel }}
				{{ render '@input-label' locationSearchLabel }}
			{{/if }}
			{{#if locationSearchField }}
				{{ render '@input-fields' locationSearchField }}
			{{/if }}
		</div>
	{{/if }}
	{{#if personSearchField }}
		<div class="m-reseller-search__item">
			{{#if personSearchLabel }}
				{{ render '@input-label' personSearchLabel }}
			{{/if }}
			{{#if personSearchField }}
				{{ render '@input-fields' personSearchField }}
			{{/if }}
		</div>
	{{/if }}
	{{#if searchBtn }}
		<div class="m-reseller-search__item">
			{{ render '@buttons' searchBtn }}
		</div>
	{{/if }}
</div>
