/* ==========================================================================
   Organism - Breadcrumbs
   ========================================================================== */

.o-breadcrumb {
	padding: $spacing-medium;
	background: $color-lighter;

	&__list {
		line-height: 1;
		@include font-size($font-size-smaller);
	}

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		&:not(:first-child) {
			padding-left: $spacing-medium;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 14px;
				height: 14px;
				background-image: url(./../images/icon-right.svg);
				background-repeat: no-repeat;
				background-size: contain;
				transform: translateY(-50%);
			}
		}

		&:last-child {
			font-weight: 600;
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: underline;
		}
	}
}
