/* ==========================================================================
   Organisms - Content blurb list
   ========================================================================== */

.o-content-blurb-list {
	@media screen and (min-width: $bp-sm) {
		display: flex;
		flex-wrap: wrap;
	}
}
