/* ==========================================================================
   Organism - Cookie bar
   ========================================================================== */

.o-cookie-bar {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	padding: $spacing-small $spacing-medium;
	background: $color-darker;
	@include font-size($font-size-smaller);

	@media screen and (min-width: $bp-sm) {
		display: flex;
		align-items: center;
	}

	&__message {
		margin-right: $spacing-small;
		color: $color-white;

		@media screen and (min-width: $bp-sm) {
			flex-grow: 1;
		}
	}

	&__btn {
		margin-top: $spacing-small;

		@media screen and (min-width: $bp-sm) {
			margin-top: 0;
		}
	}
}
