/* ==========================================================================
   Organisms - CTA wrapper
   ========================================================================== */

.o-cta-wrapper {
	@media screen and (min-width: $bp-lg) {
		display: flex;
		flex-wrap: wrap;
	}

	&__block {
		@media screen and (min-width: $bp-lg) {
			width: 33.333%;
			min-height: 400px;
		}

		&:nth-child(3n+1) {
			flex-grow: 1;
		}
	}
}

.no-flexbox,
.no-flexboxlegacy {
	.o-cta-wrapper__block {
		@media screen and (min-width: $bp-md) {
			width: 33%;
			display: block;
			float: left;
		}
	}
}

