/* ==========================================================================
   Organism - FAQ
   ========================================================================== */

.o-faq {
	border-bottom: 1px solid $color-light;

	&:first-child {
		border-top: 1px solid $color-light;
	}

	&__header {
		position: relative;
		padding: $spacing-large $spacing-x-large $spacing-large $spacing-medium;
		cursor: pointer;

		@media screen and (min-width: $bp-md) {
			padding: $spacing-large $spacing-x-large $spacing-large $spacing-large;
		}

		&-icon {
			position: absolute;
			top: $spacing-large;
			right: $spacing-large;
			width: 22px;
			height: 22px;

			.js-is-active & {
				&:before {
					transform: rotate(180deg);
				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				width: 100%;
				height: 4px;
				background: $color-darker;
				transform: rotate(90deg);
				transition: transform .2s ease;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				width: 100%;
				height: 4px;
				background: $color-darker;
			}
		}
	}

	&__title {
		margin-bottom: 0;
		line-height: $base-line-height;
	}

	&__content {
		display: none;

		&.js-is-visible,
		.no-classlist & {
			display: block;
			padding: 0 $spacing-medium $spacing-large;

			@media screen and (min-width: $bp-md) {
				padding: 0 $spacing-large $spacing-large;
			}
		}
	}
}
