/* ==========================================================================
   Organisms - footer
   ========================================================================== */

.u-bg-lighter + .o-footer {
	border-top: 1px solid $color-dark;
}

.o-footer {
	padding-top: $spacing-medium;

	&__header {
		padding: $spacing-medium;
		text-align: center;
	}

	&__row {
		@media screen and (min-width: $bp-md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__col {
		padding: $spacing-small;

		@media screen and (max-width: $bp-md) {
			text-align: center;
		}

		@media screen and (min-width: $bp-md) {
			display: flex;
			flex-direction: column;
			flex: 1 0 50%;
			max-width: 50%;
			padding: $spacing-medium $spacing-large;

			&:nth-child(2n) {
				border-left: 1px solid $color-dark;
			}

			&:nth-child(2n+1) {
				// Align to the right
				[class*="__content"] {
					margin-left: auto;
				}
			}

			&:only-child {
				text-align: center;

				// Center if only child
				[class*="__content"] {
					margin-right: auto;
				}
			}
		}
	}

	&__content {
		@include font-size($font-size-smaller);

		@media screen and (min-width: $bp-md) {
			max-width: 450px;
		}

		p > a {
			color: inherit;
			text-decoration: underline;
		}

		&:not(:first-child) {
			margin-top: $spacing-medium;

			@media screen and (min-width: $bp-md) {
				margin-top: $spacing-large;
			}
		}
	}

	&__title {
		margin-bottom: $spacing-small;
		font-size: 1.143em;
		font-weight: 600;
	}

	&__meta-data {
		margin-top: $spacing-small/2;
		@include font-size($font-size-tiny);
	}

	&__footer {
		margin-top: $spacing-medium;
		padding: $spacing-medium;
		text-align: center;
	}
}
