/* ==========================================================================
   Organism - Form
   ========================================================================== */

.o-form {
	// Display two items in a row
	&__group {
		margin-bottom: $spacing-small;

		&:not(:first-child) {
			margin-top: $spacing-small;

			@media screen and (min-width: $bp-sm) {
				margin-top: $spacing-medium;
			}
		}

		@media screen and (min-width: $bp-sm) {
			display: flex;
			justify-content: space-between;
			margin-bottom: $spacing-medium;
		}

		/*
		 * All form items inside a form group should be displayed as max-width 49%,
		 * Placed here because of specificity.
		*/
		[class*="form-item"] {
			@media screen and (min-width: $bp-sm) {
				flex: 1 0 auto;
				max-width: 49%;
				margin-top: 0;
			}
		}

		// or as one fourth
		[class*="form-item--1-4"] {
			@media screen and (min-width: $bp-sm) {
				max-width: 24%;
			}
		}

		// or as three fourths
		[class*="form-item--3-4"] {
			@media screen and (min-width: $bp-sm) {
				max-width: 74%;
			}
		}
	}

	// Validation
	&__validation {
		margin: $spacing-medium $spacing-small 0;
		padding-top: $spacing-medium;
		text-align: center;
	}
}
