/* ==========================================================================
   Organisms - Grid
   ========================================================================== */

.o-grid {
	&__title {
		padding-bottom: $spacing-medium;
		text-align: center;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: $spacing-small;

		@media screen and (min-width: $bp-md) {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: $spacing-medium;
		}

		@media screen and (min-width: $bp-lg) {
			grid-gap: $spacing-large;
		}

		/* Two columns */
		.o-grid--2-col & {
			@media screen and (min-width: $bp-md) {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: $spacing-medium;
			}

			@media screen and (min-width: $bp-lg) {
				grid-gap: $spacing-large;
			}
		}

		/* Four columns */
		.o-grid--4-col & {
			@media screen and (min-width: $bp-lg) {
				grid-template-columns: repeat(4, 1fr);
				grid-gap: $spacing-large;
			}
		}

		/* No gap */
		.o-grid--no-gap & {
			grid-gap: 0;

			@media screen and (min-width: $bp-md) {
				grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
			}
		}
	}

	&__block {
		min-width: 0; // Just because it needs a min-width to break element correctly...

		> a,
		> div {
			height: 100%; /* Make sure child elements are using the whole height of the grid block */
		}
	}
}

.no-cssgrid.cssgridlegacy {
	.o-grid {
		@extend .u-clearfix;

		&__wrapper {
			display: block;
		}

		&__block {
			margin-bottom: $spacing-small;

			@media screen and (min-width: $bp-xs) {
				float: left;
				width: 31%;
				margin: 1%;

				&:nth-child(3n+1) {
					clear: left;
				}
			}
		}

		&--4-col {
			.o-grid__block {
				@media screen and (min-width: $bp-xs) {
					width: 23%;
					margin: 1%;

					&:nth-child(3n+1) {
						clear: none;
					}

					&:nth-child(4n+1) {
						clear: left;
					}
				}
			}
		}

		&--2-col {
			.o-grid__block {
				@media screen and (min-width: $bp-xs) {
					width: 48%;
					margin: 1%;

					&:nth-child(3n+1) {
						clear: none;
					}

					&:nth-child(2n+1) {
						clear: left;
					}
				}
			}
		}
	}
}


