/* ==========================================================================
   Organisms - header
   ========================================================================== */

.o-header {
	.u-container {
		position: relative;

		@media screen and (max-width: $bp-lg - 1) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	/* Actions */
	&__actions-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 900;
		background: $color-yellow;
		border-bottom: 1px solid $transparent-white-light;

		@media screen and (min-width: $bp-lg) {
			position: static;
		}

		.u-container {
			display: flex;
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
	}

	&__action-item {
		display: flex;
		align-items: center;
		border-left: 1px solid $transparent-black;
		text-align: center;

		@media screen and (min-width: $bp-lg) {
			border-right: 1px solid $transparent-black;

			&:not(:first-child) {
				border-left: none;
			}
		}

		&--hidden-md {
			@media screen and (max-width: $bp-lg - 1) {
				display: none;
			}
		}

		&--visible-md {
			@media screen and (min-width: $bp-lg) {
				display: none;
			}
		}

		&--has-child {
			position: relative;
		}
	}

	&__action-sub-item {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		margin-top: 1px;
		text-align: left;
		white-space: nowrap;

		.no-classlist & {
			display: block;
			position: static;
		}
	}

	&__action {
		display: block;
		position: relative;
		min-width: $spacing-x-large;
		height: 100%;
		padding: $spacing-small;
		text-align: center;
		line-height: inherit;
		color: $color-black;
		border-radius: 0;
		@include font-size($font-size-smallest);

		@media screen and (min-width: $bp-lg) {
			padding: $spacing-medium $spacing-medium $spacing-medium 2.5rem;
		}

		&.js-is-active,
		&:hover,
		&:focus {
			color: $color-black;
			background-color: $color-yellow--dark;
		}

		&--link {
			@extend .a-btn;
			@extend .a-btn--transparent;
		}

		> .a-icon {
			display: block;
			margin: 0 auto $spacing-small;

			@media screen and (min-width: $bp-lg) {
				position: absolute;
				top: 50%;
				left: 20px;
				margin-top: -1px;
				transform: translateY(-50%);
			}
		}
	}

	&__navigation {
		overflow-y: auto;
		position: fixed;
		top: $header-height;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background-color: $color-white;

		@media screen and (max-width: $bp-lg - 1) {
			&:not(.js-is-visible) {
				display: none;
			}
		}

		@media screen and (min-width: $bp-lg) {
			overflow-y: visible;
			position: static;
			order: 2;
			background: transparent;
			z-index: auto;
		}
	}

	&__search {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 2;
		max-width: 100%;
		margin-top: 1px;
		padding: $spacing-medium;
		background-color: $color-lighter;
		box-shadow: 0 2px 3px 0 $transparent-black;

		@media screen and (min-width: $bp-sm) {
			left: auto;
			width: 320px;
		}

		&:not(.js-is-visible) {
			display: none;
		}

		.no-classlist & {
			display: block;
			position: static;
		}
	}

	/* Wrapper */
	&__wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: $spacing-small;
		padding: $header-height $spacing-medium 0;

		@media screen and (min-width: $bp-lg) {
			padding-top: 0;
		}
	}

	/* Logo */
	&__logo {
		align-self: center;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		padding-bottom: $spacing-small;

		&--small {
			padding: ($spacing-small/2) $spacing-small;

			@media screen and (min-width: $bp-sm) {
				padding-right: $spacing-medium;
				padding-left: $spacing-medium;
			}
		}

		@media screen and (min-width: $bp-lg) {
			margin: 0;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	&__meta {
		display: block;
		color: $color-black;
		font-size: .625rem;
	}
}
