/* ==========================================================================
   Organism - Hero
   ========================================================================== */

.o-hero {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@media screen and (min-width: $bp-md) {
		flex-direction: row;
	}

	&__wrapper {
		width: 100%;
		color: $color-white;
		display: flex;
		align-items: center;
		padding: $spacing-medium;
		flex-wrap: wrap;
		order: 2;

		@media screen and (min-width: $bp-md) {
			max-width: 33%;
			padding: $spacing-large;
			order: 1;
		}
	}

	&__content {
		h2,
		p {
			display: block;
			width: 100%;
		}
	}

	&__image {
		position: relative;
		flex-grow: 1;
		@include aspect-ratio(16, 9);

		@media screen and (min-width: $bp-md) {
			order: 2;
		}
	}
}

.no-flexbox {
	.o-hero {
		width: 100%;
		display: block;
		position: relative;
		@extend .u-clearfix;

		&__content {
			width: 100%;
			height: auto;

			@media screen and (min-width: $bp-md) {
				width: 30%;
				height: 440px;
				display: block;
				float: left;
			}
		}

		&__image {
			display: block;
			height: auto;
			min-height: 200px;
			width: 100%;

			@media screen and (min-width: $bp-md) {
				height: 440px;
				width: 70%;
				float: left;
			}
		}
	}
}
