/* ==========================================================================
   Organisms - Image slider
   ========================================================================== */

.o-image-slider {
	display: block;
	width: 100%;
	padding-bottom: 40px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 0;

	.swiper-pagination {
		bottom: 0;
	}

	.swiper-slide-prev,
	.swiper-slide-next {
		opacity: .5;
	}

	.swiper-slide {
		width: 100%;
		position: relative;
		@include aspect-ratio(3, 2);
		transition: opacity .2s ease-in;
		overflow: hidden;

		@media screen and (min-width: $bp-sm) {
			width: 60%;
		}

		.fill {
			width: 100%;
			height: 100%;
			top: 0;
			position: absolute;
		}
	}

	.swiper-button-next {
		display: block;
		background: none;
		right: 20px;

		svg {
			display: block;
			background: none;
			width: 35px;
			height: 35px;
			position: absolute;
		}

		@media screen and (min-width: $bp-sm) {
			right: 14%;

			svg {
				width: 22px;
				height: 22px;
			}
		}

		@media screen and (min-width: $bp-md) {
			right: 17%;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		@media screen and (max-width: $bp-sm) {
			margin-top: -44px;
		}
	}

	.swiper-button-prev {
		display: block;
		background: none;
		left: 20px;

		svg {
			width: 35px;
			height: 35px;
			display: block;
			background: none;
			position: absolute;
		}

		@media screen and (min-width: $bp-sm) {
			left: 14%;

			svg {
				width: 22px;
				height: 22px;
			}
		}

		@media screen and (min-width: $bp-md) {
			left: 17%;
		}
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background: none;
		border: 1px solid $color-teal;

		&-active {
			background: $color-teal;
			border: 1px solid $color-teal;
		}
	}
}

.no-flexbox {
	.o-image-slider {
		.swiper-slide {
			width: 100% !important;
			opacity: 0;
			overflow: visible;
		}
		.swiper-slide-prev,
		.swiper-slide-next {
			display: none;
		}
		.swiper-slide-active {
			opacity: 1 !important;
			width: 100%;
			left: 100% !important;
		}
		.swiper-button-next,
		.swiper-button-prev {
			background: $color-white;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			svg {
				top: 8px;
				left: 10px;
			}
		}
		.swiper-button-prev {
			left: 40px !important;
		}
		.swiper-button-next {
			right: 40px !important;
		}
		.swiper-pagination-bullets {
			background: $color-white;
		}
	}
}
