/* ==========================================================================
   Organisms - Instagram
   ========================================================================== */

.o-instagram {
	&__title {
		padding-bottom: $spacing-large;
		text-align: center;
	}

	&__cta {
		color: inherit;
		text-decoration: none;

		.a-icon {
			margin-right: $spacing-small;
		}
	}

	&__feed {
		display: grid;
		grid-gap: $spacing-small;
		grid-template-columns: 1fr 1fr;

		@media screen and (min-width: $bp-md) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	&__feed-item {
		position: relative;

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		&:hover,
		&:focus {
			.o-instagram__caption {
				animation: contentGrow .2s ease;
				opacity: 1;
				display: block;
				height: 100%;
				padding: $spacing-medium;
			}
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__caption {
		overflow: hidden;
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 0;
		padding: 0 $spacing-medium;
		background: rgba(255, 255, 255, 0.9);
		color: $color-darker;
		@include font-size($font-size-smallest);

		@media screen and (min-width: $bp-sm) {
			@include font-size($font-size-small);
		}
	}
}

.no-cssgrid.cssgridlegacy {
	.o-instagram__feed {
		@extend .u-clearfix;

		&-item {
			display: block;
			position: relative;
			float: left;
			width: 24%;
			margin-right: .5%;
			margin-left: .5%;

			&:nth-child(4n+1){
				clear: left;
			}
		}
	}
}

@keyframes contentGrow {
	0% {
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

