/* ==========================================================================
   Organism - Intro section
   ========================================================================== */

.o-intro {
	text-align: center;

	&--left {
		text-align: left;
	}

	&__title {
		margin-bottom: ($spacing-small/2);
	}

	&__cta {
		display: block;
		margin-top: $spacing-medium;
		text-decoration: none;

		&-icon {
			height: 20px;
			width: 20px;
			vertical-align: middle;
		}
	}
}
