/* ==========================================================================
   Organisms - Promo
   ========================================================================== */

.o-promo {
	display: grid;
	grid-gap: $spacing-small;
	grid-template-columns: repeat(2, 1fr);

	@media screen and (min-width: $bp-md) {
		min-height: 640px;
		grid-template-columns: 60% 1fr;
	}

	&__item {
		position: relative;
		min-width: 50px;
		min-height: 100px;
		height: 100%;
		color: $color-darker;
		text-decoration: none;

		&--large {
			min-height: 180px;
			grid-column: 1 / 3;
			grid-row: 1 / 3;

			@media screen and (min-width: $bp-md) {
				grid-column: 1 / 2;
			}
		}

		@media screen and (max-width: $bp-md) {
			box-shadow: $shadow;
		}
	}

	&__bg,
	&__image {
		@media screen and (max-width: $bp-md) {
			position: static !important; // Make sure it is static on narrow screens
		}
	}

	&__action {
		display: block;

		@media screen and (max-width: $bp-md) {
			border-radius: 0;
		}

		@media screen and (min-width: $bp-md) {
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
	}

	&__icon {
		/* Faux alignment */
		position: relative;
		top: -1px;
	}
}

/* Fallback for CSS GRID */
.no-cssgrid.cssgridlegacy {
	.o-promo {
		overflow: hidden;
		min-height: initial;

		&__item {
			width: 48%;
			width: calc(50% - 10px);
			color: $color-darker;
			position: relative;
			float: left;
			margin: 5px;

			@media screen and (min-width: $bp-md) {
				height: 250px;
				width: 38%;
				width: calc(40% - 10px);
			}

			&--large {
				width: 100%;
				width: calc(100% - 10px);

				@media screen and (min-width: $bp-md) {
					height: 510px;
					width: 60%;
					width: calc(60% - 10px);
				}
			}
		}
	}
}
