/* ==========================================================================
   Organism - Promo block
   ========================================================================== */

.o-promo-block {
	display: flex;

	&__image {
		display: none;

		@media screen and (min-width: $bp-sm) {
			display: block;
			flex: 1 1 50%;
		}
	}

	&__content {
		flex: 1 1 100%;
		padding: $spacing-medium;
		text-align: center;

		@media screen and (min-width: $bp-sm) {
			flex: 1 1 50%;
		}

		@media screen and (min-width: $bp-lg) {
			padding: $spacing-x-large;
		}
	}
}
