/* ==========================================================================
   Organism - Reseller
   ========================================================================== */

.o-reseller {
	@media screen and (min-width: $bp-lg) {
		display: flex;
	}

	&__search {
		padding: $spacing-large;

		@media screen and (min-width: $bp-lg) {
			display: flex;
			align-items: center;
			flex: 1 0 33.33%;
			margin-right: $spacing-small;
			padding-right: $spacing-x-large;
			padding-left: $spacing-x-large;
		}
	}

	&__result {
		position: relative;

		@media screen and (min-width: $bp-lg) {
			flex: 1 0 66.66%;
		}

		@media screen and (min-width: $bp-md) {
			@include font-size($font-size-smaller);
		}

		&-wrapper {
			@media screen and (min-width: $bp-lg) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: absolute;
				top: 0;
				bottom: 20px;
				z-index: 1;
				width: 350px;
			}

			&--hide {
				display: none;
			}
		}

		/* Selected person */
		&-selected {
			margin: $spacing-small;

			&:not(.js-is-visible) {
				> * {
					display: none;
				}
			}

			[class*="__person"],
			[class*="__form"] {
				&:not(.js-is-visible) {
					display: none;
				}
			}
		}

		/* Reseller search results */
		&-summary {
			position: relative;
			padding: $spacing-small;
			border-bottom: 1px solid $color-dark;
		}

		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 40px;
			padding: 0;
			border-radius: 0;

			&,
			&:hover,
			&:focus {
				color: $color-darker;
			}

			&:not(.js-is-active) {
				> .a-icon {
					transform: rotate(180deg);
				}
			}
		}

		&-keyword {
			font-weight: 600;
		}

		&--no-result {
			.o-reseller__result-summary-text {
				display: none;
			}

			.o-reseller__result-no-result-text {
				display: block;
			}
		}

		&-no-result-text {
			display: none;
			margin-top: 0;
		}

		&-address {
			margin-top: 5px;
			margin-left: 35px;
		}

		&-list {
			min-height: 40px;
			margin: $spacing-small;
			background-color: $color-white;
			box-shadow: $shadow;

			@media screen and (min-width: $bp-lg) {
				overflow: hidden;
				max-height: 100%;
			}
		}

		&-resellers {
			overflow-y: auto;
			max-height: 450px;

			&.js-is-visible {
				box-shadow: inset 0 -6px 10px -5px rgba(0, 0, 0, .15);
			}

			&:not(.js-is-visible) {
				display: none;
			}
		}

		&-item {
			padding: $spacing-medium $spacing-small;

			&:not(:first-child) {
				border-top: 1px solid $color-dark;
			}
		}
	}
}
