<div class="m-employee-item">
	<div class="m-employee-item__content-wrapper">
		{{#if imageData}}
			<div class="m-employee-item__image">
				{{render '@image' imageData}}
			</div>
		{{/if}}

		<div class="m-employee-item__content">
			{{#if headline}}
				{{render '@heading-5' headline}}
			{{/if}}

			{{#if jobTitle}}
				<p class="m-employee-item__job-title m-employee-item__meta-data">{{ jobTitle }}</p>
			{{/if}}

			{{#if email}}
				<p class="m-employee-item__meta-data">
					<a class="m-employee-item__mail" href="mailto:{{ email }}">{{ email }}</a>
				</p>
			{{/if}}

			{{#if description}}
				<p class="m-employee-item__desc">{{ description }}</p>
			{{/if}}
		</div>
	</div>
</div>
