<a class="m-cta-block {{#if class }}{{class}}{{else}} u-bg-yellow--transparent{{/if}}" href="{{link.path}}">
	{{render '@object-fit' imageData}}
	<div class="m-cta-block__content">
		{{#if headline}}{{render '@heading-2' headline }}{{/if}}
		{{#if paragraph}}{{render '@paragraph' paragraph}}{{/if}}
		<div class="m-cta-block__icon">
			{{render '@icon' iconData}}
		</div>
	</div>
</a>
