<ul class="styleguide-wrapper u-list-unstyled">
	<li class="styleguide-item" style="padding: 80px;">
		<span>$spacing-x-large: 80px</span>
	</li>
	<li class="styleguide-item" style="padding: 40px;">
		<span>$spacing-large: 40px</span>
	</li>
	<li class="styleguide-item" style="padding: 20px;">
		<span>$spacing-medium: 20px</span>
	</li>
	<li class="styleguide-item" style="padding: 10px;">
		<span>$spacing-small: 10px</span>
	</li>
</ul>


