<div class="u-section-spacing u-container" style="width: 100%;">
	<div class="styleguide-divider">
		<p>Default font size</p>
		<small>base: 16px, medium-up: 18px</small>
	</div>
	<div class="styleguide-divider">
		<h1>Mega</h1>
		<small>base: 30px, medium-up: 48px</small>
	</div>
	<div class="styleguide-divider">
		<h2>Largest</h2>
		<small>base: 24px, medium-up: 42px</small>
	</div>
	<div class="styleguide-divider">
		<h3>Larger</h3>
		<small>base: 22px, medium-up: 36px</small>
	</div>
	<div class="styleguide-divider">
		<h4>Large</h4>
		<small>base: 20px, medium-up: 24px</small>
	</div>
	<div class="styleguide-divider">
		<h5>Medium</h5>
		<small>base: 18px, medium-up: 20px</small>
	</div>
	<div class="styleguide-divider">
		<h6>Small</h6>
		<small>base: 16px, medium-up: 18px</small>
	</div>
	<div class="styleguide-divider">
		<p class="smaller">Smaller</p>
		<small>base: 14px, medium-up: 14px</small>
	</div>
	<div class="styleguide-divider">
		<p class="smallest">Smallest</p>
		<small>base: 14px, medium-up: 12px</small>
	</div>
	<div class="styleguide-divider">
		<p class="tiny">Tiny</p>
		<small>base: 12px, medium-up: 12px</small>
	</div>
</div>
