<div  class="o-instagram">
	<div class="o-instagram__title">
		{{render '@heading-3' headline}}
		<a href="{{link}}" class="o-instagram__cta">{{render '@icon' iconData}}<em>foreverscandinaviahq</em></a>
	</div>
	<div class="o-instagram__feed" id="instafeed">
	</div>
</div>
