{{ render '@header' }}
{{ render '@breadcrumbs' }}

<main class="main" role="main">
	<section>
		<div class="u-container u-container--wide">
			{{render '@hero'}}
		</div>
	</section>

	<section class="u-section-spacing">
		<div class="u-container u-container--narrow">
			{{ render '@heading-2' headline }}
			{{ render '@preamble' paragraph }}
		</div>
	</section>

	<section class="u-section-spacing u-bg-lighter">
		<div class="u-container u-container--narrow">
			{{render '@job-positions-form' }}
		</div>
	</section>
</main>

{{ render '@footer' }}
