<div class="o-grid{{#if col-4 }} o-grid--4-col{{ else if col-2 }} o-grid--2-col{{/if}}{{#if no-gap }} o-grid--no-gap{{/if}}">
	{{#if headline}}
		<div class="o-grid__title">
			{{render '@heading-3' headline}}
		</div>
	{{/if}}
	{{#if blocks}}
		<div class="o-grid__wrapper">
			{{#each blocks}}
				<div class="o-grid__block">
					<div class="dummy" style="background-color: #f7f7f7; border: 1px solid #d8d8d8; padding: 40px; text-align: center;">
						{{render '@paragraph' paragraph}}
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>
