{{#if blocks}}
	<div class="o-grid o-grid--no-gap">
		<div class="o-grid__wrapper">
			{{#each blocks}}
				<div class="o-grid__block">
					{{render '@content-blurb' this}}
				</div>
			{{/each}}
		</div>
	</div>
{{/if}}

